

services:
  web:
    build: 
      context: ./frontend
    ports:
      - "3000:3000"
    deploy:
      resources:
        limits:
          cpus: "1.0"    
          memory: "1G"  
        reservations:
          cpus: "0.3"   
          memory: "512M"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3


  nginx:
    image: nginx
    container_name: nginx_frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/src/static:/usr/share/nginx/html
      - ./daylang.crt:/etc/ssl/daylang/daylang.crt
      - ./daylang.key:/etc/ssl/daylang/daylang.key
    deploy:
      resources:
        limits:
          cpus: "1.0"    
          memory: "512M"
        reservations:
          cpus: "0.2"
          memory: "256M"
    restart: unless-stopped
    depends_on:
      - web