.after_demo_panel_main{
    width: 850px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    background-color: #dadada;
    color: black;
    z-index: 1001;
    position: relative;
}
.after_demo_panel_limit{
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: black;
}
.after_demo_panel_show_currency{
    width: auto;
    height: 25px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    margin-left: 5px;
}
.after_demo_panel_downing_buttons{
    position: absolute;
    bottom: 0px;
    width: calc(100% - 40px);
}
.after_demo_panel_overflow{
    overflow: auto;
    height: 100%;
}

.dark_theme{
    .after_demo_panel_main{
        background-color: #444444;
        color: rgb(255, 255, 255);
    }   
    .after_demo_panel_limit{
        color: white;
    }   
}

@media only screen and (max-width: 850px) 
{
    .after_demo_panel_main{
        width: 100%;
        height: 80.58823529411765vw;
        border-radius: 2.352941176470588vw;
        padding: 2.352941176470588vw;
        font-size: 2.941176470588235vw;
    }
    .after_demo_panel_limit{
        font-size: 3.529411764705882vw;
    }
    .after_demo_panel_show_currency{
        height: 2.941176470588235vw;
        margin-left: 0.5882352941176471vw;
    }
    .after_demo_panel_downing_buttons{
        width: calc(100% - 4.705882352941176vw);
    }
    
    
}
@media only screen and (max-width: 600px) 
{
    .after_demo_panel_main{
        height: 110vw;
        padding: 1.666666666666667vw;
    }
    .after_demo_panel_overflow{
        height: calc(100% - 41.66666666666667vw);
    }
    
}