.ai_speak_settings_div{
    margin: 30px;
    font-size: 25px;
}
.ai_speak_settings_name{
    width: calc(100% - 60px);
    margin: 10px;
}
.ai_speak_settings_reguling{
    width: calc(100% - 60px);
    margin: 10px;
}
.ai_speak_settings_img{
    width: 70px; height: 70px; filter: brightness(100%);
}
.ai_speak_settings_button{
    width: 100px; height: 100px; display: inline-block; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: fixed; margin: 20px; border-radius: 50%;
}
.ai_speak_start_end_record_button{
    width: 100%; height: 100px; position: fixed; bottom: 0px; font-size: 50px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000;
}
.ai_speak_stop_resume_cancel_button{
    width: calc(100% / 3); height: 100px; display: inline-block; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: relative;
}
.ai_speak_what_he_said_button{
    width: 200px; height: 100px; display: inline-block; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: fixed; margin: 20px; border-radius: 40px;
}
.ai_speak_what_he_said_panel_div{
    width: 500px; height: 500px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); z-index: 1000; position: fixed; margin: 15px; border-top-right-radius: 40px; border-top-left-radius: 40px;
}
.ai_speak_what_he_said_panel_p{
    margin: 20px; padding: 10px; font-size: 25px; background-color: #d5d5d5; color: rgb(0, 0, 0); border-radius: 10px; width: calc(90% - 60px); right: 0px; position: relative;
}
.ai_speak_what_i_said_panel_p{
    margin: 20px; padding: 10px; font-size: 25px; background-color: #e2c8ff; color: #090909; border-radius: 10px; width: calc(90% - 60px); right: 0px; position: relative; margin-left: auto;
}
.ai_speak_what_he_said_panel_close_button{
    width: 100%; height: 100px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); font-size: 25px; border-bottom-right-radius: 40px; border-bottom-left-radius: 40px;
}


.dark_theme{
    .ai_speak_settings_img{
        filter: brightness(0%);
    }
    .ai_speak_settings_button{
        background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    }
    .ai_speak_start_end_record_button{
        background-color: white; color: black;
    }
    .ai_speak_stop_resume_cancel_button{
        background-color: white; color: black;
    }
    .ai_speak_what_he_said_button{
        background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    }      
    .ai_speak_what_he_said_panel_div{
        background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
    }  
    .ai_speak_what_he_said_panel_close_button{
        background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    }
    .ai_speak_what_he_said_panel_p{
        background-color: #434343; color: white;
    }
    .ai_speak_what_i_said_panel_p{
        background-color: #6d29c1; color: white;
    }
    
}
@media only screen and (max-width: 1100px)
{
    /*.ai_speak_start_end_record_button{
        height: 100px; font-size: 50px;
    }
    .ai_speak_stop_resume_cancel_button{
        width: 100px; height: 100px; font-size: 25px;
    }*/
    
}
@media only screen and (max-width: 525px){
    .ai_speak_settings_div{
        margin: 5.714285714285714vw;
        font-size: 4.761904761904762vw;
    }
    .ai_speak_settings_name{
        width: calc(100% - 11.42857142857143vw);
        margin: 1.904761904761905vw;
    }
    .ai_speak_settings_reguling{
        width: calc(100% - 11.42857142857143vw);
        margin: 1.904761904761905vw;
    }
    .ai_speak_settings_img{
        width: 13.33333333333333vw; height: 13.33333333333333vw;
    }
    .ai_speak_settings_button{
        width: 19.04761904761905vw; height: 19.04761904761905vw; font-size: 4.761904761904762vw; margin: 3.80952380952381vw;
    }
    .ai_speak_start_end_record_button{
        height: 19.04761904761905vw; font-size: 9.523809523809524vw;
    }
    .ai_speak_stop_resume_cancel_button{
        height: 19.04761904761905vw; font-size: 4.761904761904762vw;
    }
    .ai_speak_what_he_said_button{
        width: 38.0952380952381vw; height: 19.04761904761905vw; font-size: 4.761904761904762vw; margin: 3.8095238095238095vw; border-radius: 7.619047619047619vw;
    }
    .ai_speak_what_he_said_panel_div{
        width: calc(100% - 5.714285714285714vw); height: 70svh; margin: 2.857142857142857vw; border-top-right-radius: 7.619047619047619vw; border-top-left-radius: 7.619047619047619vw;
    }
    .ai_speak_what_he_said_panel_p{
        margin: 3.8095238095238095vw; padding: 1.904761904761905vw; font-size: 4.761904761904762vw; border-radius: 1.904761904761905vw; width: calc(90% - 11.42857142857143vw);
    }
    .ai_speak_what_i_said_panel_p{
        margin: 3.8095238095238095vw; padding: 1.904761904761905vw; font-size: 4.761904761904762vw; border-radius: 1.904761904761905vw; width: calc(90% - 11.42857142857143vw); margin-left: auto;
    }
    .ai_speak_what_he_said_panel_close_button{
        width: 100%; height: 19.04761904761905vw; font-size: 4.761904761904762vw; border-bottom-right-radius: 7.619047619047619vw; border-bottom-left-radius: 7.619047619047619vw;
    }
        
}