.toggle-btn {
    width: 100px;
    height: 100px;
    border: 2px solid #2c3e50;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    margin: 20px;
    bottom: 0px;
    transition: all 0.3s ease;
  }
  
  .toggle-btn::before {
    content: "";
    position: absolute;
    transition: all 0.3s ease;
  }
  
  /* Состояние Play (треугольник) */
  .toggle-btn[data-state="paused"]::before {
    left: 48%;
    top: 50%;
    transform: translate(-30%, -50%);
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 50px solid #2c3e50;
  }
  
  /* Состояние Pause (две линии) */
  .toggle-btn[data-state="playing"]::before {
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 60px;
    background: #2c3e50;
    box-shadow: 30px 0 0 #2c3e50;
  }

.ai_speak_promt_progress_bar{
    width: 100vw;
    height: 30px;
    border-radius: 0px;
    position: fixed;
    bottom: 100px;

}
.ai_speak_promt_progress_bar::-webkit-progress-value {
    background: linear-gradient(rgb(35, 116, 223) 0%, rgb(18, 141, 223) 100%);
    background: -moz-linear-gradient(90deg, rgb(35, 116, 223) 0%, rgb(18, 141, 223) 100%);
    background: -webkit-linear-gradient(90deg, rgb(35, 116, 223) 0%, rgb(18, 141, 223) 100%);
    background: linear-gradient(90deg, rgb(35, 116, 223) 0%, rgb(18, 141, 223) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#12bddf", GradientType=1);
}
.ai_speak_my_promt_before_gpt{
    width: 500px;
    height: 400px;
    background-color: #d8d8d8;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px #808080;
    padding: 20px;
    font-size: 30px;
    color: black;
}
.ai_speak_settings_info{
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}
.ai_speak_settings_div{
    margin: 30px;
    font-size: 25px;
}
.ai_speak_settings_name{
    width: calc(100% - 20px);
    margin: 10px;
}
.ai_speak_settings_reguling{
    width: calc(100% - 20px);
    margin: 10px;
}
.ai_speak_settings_img{
    width: 70px; height: 70px; filter: brightness(100%);
}
.ai_speak_settings_button{
    width: 100px; height: 100px; display: inline-block; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: fixed; margin: 20px; border-radius: 50%;
}
.ai_speak_start_end_record_button{
    width: 100%; height: 100px; position: fixed; bottom: 0px; font-size: 50px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000;
}
.ai_speak_stop_resume_cancel_button{
    width: 100px; height: 100px; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: fixed; margin: 20px; bottom: 0; right: 0; border-radius: 50%;
}
.ai_speak_what_he_said_button{
    width: 200px; height: 100px; display: inline-block; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: fixed; margin: 20px; border-radius: 40px;
}
.ai_speak_what_he_said_panel_div{
    width: 500px; height: 500px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); z-index: 1000; position: fixed; margin: 15px; border-top-right-radius: 40px; border-top-left-radius: 40px;
}
.ai_speak_what_he_said_panel_p{
    margin: 20px; padding: 10px; font-size: 25px; background-color: #d5d5d5; color: rgb(0, 0, 0); border-radius: 10px; width: calc(90% - 60px); right: 0px; position: relative;
}
.ai_speak_what_i_said_panel_p{
    margin: 20px; padding: 10px; font-size: 25px; background-color: #e2c8ff; color: #090909; border-radius: 10px; width: calc(90% - 60px); right: 0px; position: relative; margin-left: auto;
}
.ai_speak_what_he_said_panel_close_button{
    width: 100%; height: 100px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); font-size: 45px; border-bottom-right-radius: 40px; border-bottom-left-radius: 40px;
}


.dark_theme{
    .ai_speak_my_promt_before_gpt{
        background-color: #d8d8d8;
        color: black;
    }
    .ai_speak_settings_img{
        filter: brightness(0%);
    }
    .ai_speak_settings_button{
        background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    }
    .ai_speak_start_end_record_button{
        background-color: white; color: black;
    }
    .ai_speak_stop_resume_cancel_button{
        background-color: white; color: black;
    }
    .ai_speak_what_he_said_button{
        background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    }      
    .ai_speak_what_he_said_panel_div{
        background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
    }  
    .ai_speak_what_he_said_panel_close_button{
        background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    }
    .ai_speak_what_he_said_panel_p{
        background-color: #434343; color: white;
    }
    .ai_speak_what_i_said_panel_p{
        background-color: #6d29c1; color: white;
    }
    
}
@media only screen and (max-width: 1100px)
{
    /*.ai_speak_start_end_record_button{
        height: 100px; font-size: 50px;
    }
    .ai_speak_stop_resume_cancel_button{
        width: 100px; height: 100px; font-size: 25px;
    }*/
    
}
@media only screen and (max-width: 700px)
{
    .ai_speak_my_promt_before_gpt{
        width: 71.42857142857143vw;
        height: 57.14285714285714vw;
        border-radius: 1.428571428571429;
        box-shadow: 0px 0px 2.857142857142857vw 1px #808080;
        padding: 2.857142857142857vw;
        font-size: 4.285714285714286vw;
    }
}
@media only screen and (max-width: 525px){
    .toggle-btn {
        width: 19.04761904761905vw;
        height: 19.04761904761905vw;
        border: 0.380952380952381vw solid #2c3e50;
        margin: 3.80952380952381vw;
      }
      
      /* Состояние Play (треугольник) */
      .toggle-btn[data-state="paused"]::before {
        border-top: 6.666666666666667vw solid transparent;
        border-bottom: 6.666666666666667vw solid transparent;
        border-left: 9.523809523809524vw solid #2c3e50;
      }
      
      /* Состояние Pause (две линии) */
      .toggle-btn[data-state="playing"]::before {
        width: 3.80952380952381vw;
        height: 11.42857142857143vw;
        box-shadow: 5.714285714285714vw 0 0 #2c3e50;
      }
    
    .ai_speak_promt_progress_bar{
        height: 5.714285714285714vw;
        bottom: 19.04761904761905vw;
    }
    .ai_speak_my_promt_before_gpt{
        width: 85.71428571428571vw;
        height: 76.19047619047619vw;
        border-radius: 1.904761904761905vw;
        box-shadow: 0px 0px 3.80952380952381vw 1px #808080;
        padding: 3.80952380952381vw;
        font-size: 5.714285714285714vw;
    }
    .ai_speak_settings_info{
        padding: 1.904761904761905vw;
        border-radius: 1.904761904761905vw;
    }
    .ai_speak_settings_div{
        margin: 5.714285714285714vw;
        font-size: 4.761904761904762vw;
    }
    .ai_speak_settings_name{
        width: calc(100% - 3.80952380952381vw);
        margin: 1.904761904761905vw;
    }
    .ai_speak_settings_reguling{
        width: calc(100% - 3.80952380952381vw);
        margin: 1.904761904761905vw;
    }
    .ai_speak_settings_img{
        width: 13.33333333333333vw; height: 13.33333333333333vw;
    }
    .ai_speak_settings_button{
        width: 19.04761904761905vw; height: 19.04761904761905vw; font-size: 4.761904761904762vw; margin: 3.80952380952381vw;
    }
    .ai_speak_start_end_record_button{
        height: 19.04761904761905vw; font-size: 9.523809523809524vw;
    }
    .ai_speak_stop_resume_cancel_button{
        width: 19.04761904761905vw; height: 19.04761904761905vw; font-size: 4.761904761904762vw; margin: 3.80952380952381vw;
    }
    .ai_speak_what_he_said_button{
        width: 38.0952380952381vw; height: 19.04761904761905vw; font-size: 4.761904761904762vw; margin: 3.8095238095238095vw; border-radius: 7.619047619047619vw;
    }
    .ai_speak_what_he_said_panel_div{
        width: calc(100% - 5.714285714285714vw); height: 70svh; margin: 2.857142857142857vw; border-top-right-radius: 7.619047619047619vw; border-top-left-radius: 7.619047619047619vw;
    }
    .ai_speak_what_he_said_panel_p{
        margin: 3.8095238095238095vw; padding: 1.904761904761905vw; font-size: 4.761904761904762vw; border-radius: 1.904761904761905vw; width: calc(90% - 11.42857142857143vw);
    }
    .ai_speak_what_i_said_panel_p{
        margin: 3.8095238095238095vw; padding: 1.904761904761905vw; font-size: 4.761904761904762vw; border-radius: 1.904761904761905vw; width: calc(90% - 11.42857142857143vw); margin-left: auto;
    }
    .ai_speak_what_he_said_panel_close_button{
        width: 100%; height: 19.04761904761905vw; font-size: 8.571428571428571vw; border-bottom-right-radius: 7.619047619047619vw; border-bottom-left-radius: 7.619047619047619vw;
    }
        
}