.ai_speak_start_end_record_button{
    width: 100%; height: 100px; position: fixed; bottom: 0px; font-size: 50px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000;
}
.ai_speak_stop_resume_cancel_button{
    width: 100px; height: 100px; display: block; border-radius: 50%; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: relative;
}


.dark_theme{
    .ai_speak_start_end_record_button{
        background-color: white; color: black;
    }
    .ai_speak_stop_resume_cancel_button{
        background-color: white; color: black;
    }
    
}
@media only screen and (max-width: 1100px)
{
    /*.ai_speak_start_end_record_button{
        height: 100px; font-size: 50px;
    }
    .ai_speak_stop_resume_cancel_button{
        width: 100px; height: 100px; font-size: 25px;
    }*/
    
}
@media only screen and (max-width: 525px){
    .ai_speak_start_end_record_button{
        height: 19.04761904761905vw; font-size: 9.523809523809524vw;
    }
    .ai_speak_stop_resume_cancel_button{
        width: 19.04761904761905vw; height: 19.04761904761905vw; font-size: 4.761904761904762vw;
    }
}