.ai_speak_start_end_record_button{
    width: 100%; height: 100px; position: fixed; bottom: 0px; font-size: 50px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000;
}
.ai_speak_stop_resume_cancel_button{
    width: calc(100% / 3); height: 100px; display: inline-block; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: relative;
}
.ai_speak_what_he_said_button{
    width: 100%; height: 100px; display: inline-block; font-size: 25px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); z-index: 1000; position: fixed;
}
.ai_speak_what_he_said_panel_div{
    width: 500px; height: 500px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); z-index: 1000; position: fixed;
}
.ai_speak_what_he_said_panel_p{
    margin: 20px; padding: 10px; font-size: 25px; background-color: #434343; border-radius: 10px;
}
.ai_speak_what_he_said_panel_close_button{
    width: 100%; height: 100px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); font-size: 25px;
}


.dark_theme{
    .ai_speak_start_end_record_button{
        background-color: white; color: black;
    }
    .ai_speak_stop_resume_cancel_button{
        background-color: white; color: black;
    }
    .ai_speak_what_he_said_button{
        background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    }      
    .ai_speak_what_he_said_panel_div{
        background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
    }  
    .ai_speak_what_he_said_panel_close_button{
        background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    }
    
}
@media only screen and (max-width: 1100px)
{
    /*.ai_speak_start_end_record_button{
        height: 100px; font-size: 50px;
    }
    .ai_speak_stop_resume_cancel_button{
        width: 100px; height: 100px; font-size: 25px;
    }*/
    
}
@media only screen and (max-width: 525px){
    .ai_speak_start_end_record_button{
        height: 19.04761904761905vw; font-size: 9.523809523809524vw;
    }
    .ai_speak_stop_resume_cancel_button{
        height: 19.04761904761905vw; font-size: 4.761904761904762vw;
    }
    .ai_speak_what_he_said_button{
        height: 19.04761904761905vw; font-size: 4.761904761904762vw;
    }
    .ai_speak_what_he_said_panel_div{
        width: 100%; height: 70svh;
    }
    .ai_speak_what_he_said_panel_p{
        margin: 3.8095238095238095vw; padding: 1.904761904761905vw; font-size: 4.761904761904762vw; border-radius: 1.904761904761905vw;

    }
    .ai_speak_what_he_said_panel_close_button{
        height: 19.04761904761905vw; font-size: 4.761904761904762vw;
    }
        
}