/* Mobile Nav Animation */
.do_bye_panel-enter {
    transform: translateY(100%);
}

.do_bye_panel-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.do_bye_panel-exit {
    transform: translateY(0);
}

.do_bye_panel-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}

.do_bye_panel{
    background-color: #e8e8e8; width: 600px; height: 700px; position: fixed; z-index: 1000; border-radius: 10px;
    box-shadow: 0px 0px 50px #878787;
}
.do_bye_ready_offers_title{
    width: calc(100% - 30px); height: 30px; color: #000000; border-radius: 10px; margin: 15px; font-size: 25px;
}
.do_bye_small_titles{
    font-size: 20px;
}
.do_bye_transparency_fon{
    width: 100vw; height: 100svh; position: fixed; top: 0; left: 0; z-index: 1000; background-color: #00000030; backdrop-filter: blur(3px);
}
.do_bye_ready_offer_to_bye{
    width: 100%; height: 80px; border-top: 1px solid #bbbbbb; border-bottom: 1px solid #bbbbbb; padding: 15px; background-color: #ffffff00; color: black;
}
.do_bye_offer_to_bye_selected{
    background-color: #bbbbbb;
}
.do_bye_overflow_of_ready_offers_history{
    width: 100%; height: calc(100% - 140px); position: absolute; top: 60px; overflow: auto;
}
.do_bye_overflow_of_ready_offers{
    width: 100%; height: calc(100% - 200px); position: absolute; top: 60px; overflow: auto;
}
.do_bye_bye_button{
    width: 100%; height: 80px; background-color: #2854c7; border-radius: 10px; color: #ffffff; font-size: 25px; position: absolute; bottom: 0px;
}
.do_bye_oferta_agreement{
    width: calc(100% - 40px); height: 20px; color: #ffffff; font-size: 20px; position: absolute; bottom: 80px; padding: 20px;
}
.more_into_to_bye_main_part{
    padding: 15px;
    font-size: 20px;
}
.dark_theme{
    .do_bye_panel{
        background-color: #1b1b1b; box-shadow: 0px 0px 50px #000000;
    }
    .do_bye_offer_to_bye_selected{
        background-color: #4e4e4e;
    }
    .do_bye_ready_offers_title{
        color: #ffffff;
    }
    .do_bye_ready_offer_to_bye{
        color: rgb(255, 255, 255);
    }
}

@media only screen and (max-width: 1100px) 
{
    .do_bye_panel{
        width: 100%; height: 80svh; bottom: 0px; left: 0px;
    }
    
}
@media only screen and (max-width: 525px) 
{
    .more_into_to_bye_main_part{
        padding: 2.857142857142857vw;
        font-size: 3.80952380952381vw;
    }
    .do_bye_panel{
        height: 80svh; border-radius: 1.904761904761905vw;
        box-shadow: 0px 0px 9.523809523809524vw;
    }
    .do_bye_ready_offers_title{
        width: calc(100vw - 5.714285714285714vw); height: 5.714285714285714vw; border-radius: 1.904761904761905vw; margin: 2.857142857142857vw; font-size: 4.761904761904762vw;
    }
    .do_bye_ready_offer_to_bye{
        width: 100vw; height: 15.23809523809524vw; padding: 2.857142857142857vw; 
    }
    .do_bye_overflow_of_ready_offers{
        height: calc(100% - 38.0952380952381vw); top: 11.42857142857143vw;
    }
    .do_bye_overflow_of_ready_offers_history{
        height: calc(100% - 26.66666666666667vw); top: 11.42857142857143vw;
    }
    .do_bye_bye_button{
        height: 15.23809523809524vw; border-radius: 1.904761904761905vw; font-size: 4.761904761904762vw;
    }
    .do_bye_oferta_agreement{
        width: calc(100% - 7.619047619047619vw); height: 3.80952380952381vw; font-size: 3.80952380952381vw; bottom: 15.23809523809524vw; padding: 3.80952380952381vw;
    }
    .do_bye_small_titles{
        font-size: 3.80952380952381vw;
    }
}
