/* Mobile Nav Animation */
.deep_search_component_form-enter {
    transform: translateY(100%);
}

.deep_search_component_form-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.deep_search_component_form-exit {
    transform: translateY(0);
}

.deep_search_component_form-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}

.offer_of_lang_finded{
    width: 1000px;
    height: 260px;
    margin: 20px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 0px #666666; 
    cursor: pointer;
    
    background-color: #ebebeb; 
}
.offer_of_lang_finded_sort_panel{
    width: 1000px;
    height: 260px;
    margin: 20px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 0px #666666;
    cursor: pointer;

    background-color: gray;
}
.src_img{
    width: 40px; height: 40px; position: absolute; top: 20px; right: 20px; filter: brightness(70%);
}
.offer_of_lang_finded:hover{
    transition: background-color .2s;
    background-color: #c4c4c4;
}

.finded_panel{
    width: 60%;
    left: 17%;
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.sborishe_chelov{
    background-color: #ebebeb; height: auto; padding: 20px; width: calc(100% - 40px);
}

/*offer*/

.finded_name{
    position: absolute; color: black; left: 310px; top: 20px; width: 60%; overflow-wrap: anywhere; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.finded_img{
    position: relative; height: 100%; border-top-left-radius: 20px; border-bottom-left-radius: 20px; aspect-ratio: 1 / 1; width: auto;
}
.part_with_text{
    position: absolute; top: 70px; left: 310px; 
}
.finded_price{
    display: block; left: 0px; font-size: 30px; position: relative; color: black;
}
.finded_online_status{
    display: block; right: 0px; font-size: 30px; position: relative; color: black;
}
.finded_review{
    position: absolute; right: 40px; top: 80px;  filter: hue-rotate(340deg);
}
.img_review{
    width: 30px; height: 30px; display: inline-block;
}
.review_text{
    font-size: 30px; color: black; position: absolute; display: inline-block;
}
.description_lol{
    font-size: 20px; color: black; margin-top: 30px; overflow-wrap: anywhere; margin-right: 50px; width: 600px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; top: 100px; position: absolute;
}

.finded_crt_offer_name_of_fields {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    font-size: 20px;
}

.finded_setting_language_selector {
    color: rgb(0, 0, 0);
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 0px;
    font-size: 20px;
    height: 40px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    outline: none;
}

.finded_input_field_name {
    color: rgb(0, 0, 0);
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 0px;
    font-size: 20px;
    height: 20px;
    width: calc(100% - 20px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    outline: none;
    padding: 10px;
}


/*offer*/


.dark_theme{
    .finded_setting_language_selector {
        color: rgb(207, 207, 207);
        background-color: #181818;
    }
    .finded_input_field_name {
        color: rgb(207, 207, 207);
        background-color: #181818;
    }
    .src_img{
        filter: brightness(100%);
    }
    .finded_name{
        color: white; 
    }
    .finded_review{
        filter: unset;
    }
    .finded_price{
        color: white;
    }
    .finded_online_status{
        color: white;
    }
    .review_text{
        color: white;
    }
    .description_lol{
        color: white; 
    }
    .sborishe_chelov{
        background-color: #191919;
    }
    .offer_of_lang_finded{
        
        background-color: #191919; 
    }
 /*   .offer_of_lang_finded_sort_panel{
        background-color: #2b2b2b;
    }*/
    .offer_of_lang_finded:hover{
        transition: background-color .2s;
        background-color: #2b2b2b;
    }
}


@media only screen and (max-width: 1400px)
{
    .offer_of_lang_finded{
        width: calc(100% - 20px);
    }
    .offer_of_lang_finded_sort_panel{
        width: calc(100% - 20px);
    }
}

@media only screen and (max-width: 1100px)
{
    .finded_img{
        height: auto;
        width: 25vw;
    }
    .finded_panel{
        width: 100%;
        left: 0px;
    }
    .sborishe_chelov{
        padding: 0px;
        padding-top: 5.5555vw;
        width: 100%
    }
    .offer_of_lang_finded{
        width: calc(100% - 3.6363636363636362vw);
        margin: 1.8181818181818181vw;
        height: 23.636363636363636vw;
        border-radius: 2.22vw;
    }
    .offer_of_lang_finded_sort_panel{
        width: calc(100% - 2.4vw);
        margin: 1.2vw;
        height: 25vw;
        border-radius: 2.22vw;
    }
    .finded_img {
        border-top-left-radius: 2.22vw;
        border-bottom-left-radius: 2.22vw;
    }
    .finded_name{
        font-size: 4vw;
        left: 28.181818181818183vw;
        top: 1.8181818181818181vw;
    }
    .part_with_text{
        top: 6.363636363636363vw;
        left: 28.181818181818183vw;
    }
    .finded_review{
        right: 3.6363636363636362vw;
        top: 7.272727272727273vw;
    }
    .finded_price{
        font-size: 2.727272727272727vw;
        position: absolute;
        width: 50vw;
        margin-top: 3vw;
    }
    .finded_online_status{
        display: none;
        font-size: 20px;
    }
    .description_lol{
        font-size: 1.8181818181818181vw;
        margin-top: 0.9090909090909091vw;
        margin-right: 0px;
        width: 54.54545454545454vw;
        position: absolute;
        top: 9.090909090909091vw;
    }
    .review_text{
        font-size: 2.727272727272727vw;
    }
    .img_review{
        width: 2.727272727272727vw;
        height: 2.727272727272727vw;
    }
    .src_img{
        top: 1.8181818181818181vw;
        right: 1.8181818181818181vw;
        height: 3.6363636363636362vw;
        width: 3.6363636363636362vw;
    }
}
@media only screen and (max-width: 525px){
        
    .finded_setting_language_selector {
        border-radius: 0.5714285714285714vw;
        border: 0px;
        font-size: 3.8095238095238093vw;
        height: 5.714285714285714vw;
        width: 100%;
        margin-top: 9.523809523809524vw;
    }

    .finded_input_field_name {
        border-radius: 0.5714285714285714vw;
        border: 0px;
        font-size: 3.8095238095238093vw;
        height: 3.8095238095238093vw;
        width: calc(100% - 3.8095238095238093vw);
        margin-top: 9.523809523809524vw;
        padding: 1.9047619047619047vw;
    }
    
    .finded_crt_offer_name_of_fields {
        width: 100%;
        top: 7.619047619047619vw;
        font-size: 3.8095238095238093vw;
    }

}