/* Mobile Nav Animation */
.deep_search_component_form-enter {
    transform: translateY(100%);
}

.deep_search_component_form-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.deep_search_component_form-exit {
    transform: translateY(0);
}

.deep_search_component_form-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}

/* All other styles were unused and have been removed */