*{
    padding: 0px;
    margin: 0px;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/
}
/*.loading_element {
    animation: changeColor 2s infinite;
    width: 100%;
    height: 100%;
  }
  @keyframes changeColor {
    0% {
      background-color: red;
    }
    100% {
      background-color: blue;
    }
  }*/
#only_for_fon{
    display: none;
}
#searchtel{
    border: 0px;
}
#nobblol{
    display: none;
}
.find_page_teacher{
    width: auto; margin-left: 30px;
}
.find_page_teacher_description{
    width: auto; margin: 30px; overflow-wrap: anywhere; margin-top: 10px; font-size: 20px;
}
.find_page_div_over_offer_types{
    margin: 20px; margin-bottom: 50px; width: calc(100% - 40px); height: auto;
}
.find_page_div_of_offer_types{
    overflow: hidden; width: 100%; height: 100%; overflow-wrap: anywhere;
}
.app_policy_text_color{
    color: black;
}
.privacy-container {
  background-color: #f8f9fa;
  padding: 40px 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #212529;
}

.privacy-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  border-radius: 8px;
}

.privacy-title {
  font-size: 28px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
}

.privacy-section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 22px;
  color: white;
  margin: 30px 0 20px;
  font-weight: 500;
}

.policy-list {
  padding-left: 20px;
  margin: 15px 0;
}

.policy-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .privacy-content {
    padding: 20px;
  }

  .privacy-title {
    font-size: 24px;
  }

  .section-title {
    font-size: 20px;
  }
}
.app_message_indicator{
    position: absolute; left: 50px; top: 90px; background-color: gray; font-size: 20px; width: 25px; height: 25px; display: flex; justify-content: center; align-items: center; border-radius: 50%;
}
.app_navig_panel_razdel{
    border-bottom: 1px solid rgb(138, 138, 138);
}
.on_desktop_panel{
    filter: brightness(20%)
}
.app_navig_panel_img{
    width: 45px; height: 45px; margin-left: 10px;
}
.div_of_service{
    position: relative; display: inline-block; margin: 10px;
}
.service_img{
    height: auto; width: 200px; aspect-ratio: 2/3; display: inline; border-radius: 4px; filter: brightness(95%);
}
.count_of_offers{
    height: auto; width: 130px; aspect-ratio: 13/5; background-color: rgb(235, 235, 235); position: absolute; bottom: 15px; left: 35px; border-radius: 4px; display: flex; justify-content: center; align-items: center; font-size: 30px; color: black;
}
.services_types{
    height: 200px; width: 170px; display: inline-block;
}
.text_in_panel{
    margin-left: 20px;
    font-size: 25px;
}
.img_exapt_text{
    width: 40px; height: 40px; left: 50%; top: 50%; transform: translate(-50%, -50%); position: relative; display: none;
}
.top_banner{
    width: 100%;
    position: fixed;
    background-color: #ebebeb;
    height: 70px;
    top: 0px;
    left: 0px;
    z-index: 101;
}
.navig_panel{
    display: block;
    position: fixed;
    width: 330px;
    height: calc(100% - 70px);
    background-color: #ebebeb;
    bottom: 0px;
    left: 0px;
    border-right: 2px solid #666666;
    z-index: 100;
}
.message_navig_panel{
    display: block;
    position: fixed;
    width: 330px;
    height: calc(100% - 70px);
    background-color: #ebebeb;
    bottom: 0px;
    left: 0px;
    border-right: 2px solid #666666;
    z-index: 100;
}
.navig_panel_button{
    height: 50px;
    width: calc(100% - 20px); 
    color: rgb(54, 54, 54); 
    background-color: #ebebeb00;
    font-size: 30px; 
    justify-content: left; 
    align-items: center; 
    display: flex; 
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.navig_panel_button:hover{
    background-color: #b4b4b4; 
}

.find_panel{
    width: calc(100% - 330px);
    height: auto;
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.tag{
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(22, 88, 211);
    color: white;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0px 0px 10px #666666;
}
.offer_of_lang{
    width: 220px;
    height: 320px;
    background-color: #ebebeb;
    margin: 5px;
    display: inline-block;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #666666;
    cursor: pointer;
    transition: transform .2s;
}
.offer_of_lang:hover{
    background-color: #c4c4c4
}
.name_of_comp{
    font-size: 50px;
    color: rgb(54, 54, 54);
    width: auto;
    cursor: pointer;
}
.tag_select_panel{
    width: calc(100% - 100px);
    top: 10px; 
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}
.under_crt_offer_blank{
    width: 570px; margin-left: auto; margin-right: auto; position: relative; font-size: 20px;
}
.clear_mes_butt{
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
    background-color: #ebebeb; 
    border: 1px solid black; 
    position: relative; 
    display: inline-block; 
    outline: none; 
    left: 2px; 
    top: 4px;
    height: 50px; 
    width: 50px;
}
.clear_mes_butt_img{
    height: 25px; 
    width: 23px;
}
.search_butt{
    width: 70px; 
    height: 50px; 
    background-color: #ebebeb;  
    position: relative; 
    top: 0px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    display: inline-block; 
    outline: none; 
    left: 620px; 
    top: 12px; 
    border: 1px solid rgb(0, 0, 0);
}
.search_butt_img{
    height: 40px; 
    width: 40px;
}
.search_input_field{
    font-size: 20px; 
    padding: 11.5px; 
    width: 600px; 
    background-color: #ebebeb; 
    height: 25px; 
    position: relative; 
    outline: none; 
    display: inline-block; 
    white-space: normal; 
    left: -78px; 
    border: 1px solid black;
}
.change_theme_button{
    height: 30px; 
    width: 30px; 
    background-color: #2ab92a00; 
    position: relative;
    left: 290px;
    top: 20px; 
    cursor: pointer; 
    margin-right: 20px;
    outline: none;
}
.change_theme_button_img{
    height: 30px; 
    width: 30px;
}
.my_account_panel{
    position: absolute; 
    right: 10px; 
    top: 10px; 
    cursor: pointer; 
    margin-right: 20px;
}
.avatar{
    width: 50px; 
    height: 50px; 
    border-radius: 50px; 
    top: 0px; 
    display: inline-block;
    margin-right: 10px
}
.avatar_in_panel{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 0px;
    display: inline-block;
    margin-right: 10px
}
.ime{
    color: black;
    top: 10px; 
    position: absolute;
}
.ime_i{
    color: white;
    top: 10px;
    position: absolute;
}
.familija{
    color: white;
}
.ime_review{
    color: rgb(0, 0, 0); 
    top: 10px; 
    position: absolute;
}
.familija_review{
    color: rgb(0, 0, 0);
}
.place_of_teach{
    background-color: #ebebeb; 
    height: auto; 
    padding: 20px;
    margin-left: 35px;
}
.telef_search{
    display: none;
}
.search_all_pos{
    display: flex; justify-content: center;
}

/*block of offers parts*/

.first_sloj{
    width: 100%; 
    height: 100%; 
    position: relative;
}
.offer_image{
    position: absolute; height: 200px; width: 100%;
}
.name_of_offer{
    position: absolute; font-size: 20px; top: 200px; left: 10px; color: rgb(40, 108, 255); white-space: pre-wrap; overflow-wrap: anywhere; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.block_of_price_and_status{
    position: absolute; top: 230px; left: 10px;
}
.price_and_status{
    display: block; left: 0px; font-size: 20px; position: relative;  color: rgb(0, 0, 0);
}
.block_of_review{
    position: absolute; left: 140px; top: 242px; filter: hue-rotate(340deg);
}
.img_of_review{
    width: 30px; height: 30px; display: inline-block;
}
.header_of_review{
    color: rgb(0, 0, 0); position: absolute; display: inline-block; font-size: 30px;
}
.description{
    position: absolute; font-size: 20px; color: rgb(0, 0, 0); white-space: pre-wrap; overflow-wrap: anywhere; bottom: 40px; padding: 10px;
}
.block_of_button{
    position: absolute; bottom: 0px; width: 100%; height: 40px;
}
.button_lol{
    width: 100%; height: 100%; padding: 0px; font-size: 20px;
}
/*block of offers parts*/

.light_theme{
    font-family: "NimbusSanL-Bol", sans-serif;
    background-color: #ebebeb;
    color: black;
}
.dark_theme{

    font-family: "NimbusSanL-Bol", sans-serif;
    background-color: #191919;
    color: #c3c3c3;
    .app_policy_text_color{
        color:white;
    }
    .name_of_comp{
        color: white;
    }
    .ime{
        color: white;
    }
    .on_desktop_panel{
        filter: brightness(100%)
    }
    .offer_of_lang{
        background-color: #191919;
        transition: transform .2s;
        box-shadow: 0px 0px 0px #666666;
    }
    .offer_of_lang:hover{
        background-color: #303030
    }
    .header_of_review{
        color: white; position: absolute; display: inline-block; font-size: 30px;
    }
    .name_of_offer{
        color: white;
    }
    .price_and_status{
        display: block; left: 0px; font-size: 20px; position: relative; color: white;
    }
    .message_top_banner{
        background-color: #191919;
    }
    .top_banner{
        background-color: #191919;
    }
    .navig_panel{
        background-color: #191919;
    }
    .message_navig_panel{
        background-color: #191919;
    }
    .navig_panel_button:hover{
        background-color: #666666; 
    }
    .find_panel{
        background-color: #191919;
    }
    .place_of_teach{
        background-color: #191919; 
        height: auto; 
    }
    .navig_panel_button{
        color: white; 
        background-color: #19191900;
    }
    .clear_mes_butt{
        background-color: #191919; 
        border: 1px solid rgb(255, 255, 255); 
    }
    .search_butt{
        background-color: #191919;
        border: 1px solid rgb(255, 255, 255);
    }
    .search_input_field{
        background-color: #191919; 
        border: 1px solid white;
        color: white;
    }
    .ime_review{
        color: rgb(255, 255, 255); 
        top: 10px; 
        position: absolute;
    }
    .familija_review{
        color: rgb(255, 255, 255);
    }
    .block_of_review{
         filter: unset;
    }
}
html {
    height: 100%;
  }
body {
    min-height: 100%;
}
img {
    pointer-events: none;
}
button{
    cursor: pointer;
    border-width: 0px;
}
body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: rgb(85, 85, 85);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(163, 163, 163);    /* цвет плашки */
    /*border-radius: 20px;       /* закругления плашки */
    /*border: 0px solid orange;  /* padding вокруг плашки */
}
div *::-webkit-scrollbar {
    height: 12px;
    width: 10px;
}
*::-webkit-scrollbar-track,
div *::-webkit-scrollbar-track {
    background: rgb(70, 70, 70);
}
*::-webkit-scrollbar-thumb,
div *::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
    border: 0px solid rgb(70, 70, 70);;
}
.crt_offer_blank{
    display: block; 
    margin: auto; 
    height: auto; 
    width: 100%; 
    
    div *::-webkit-scrollbar {
        height: 12px;
        width: 10px;
    }
    *::-webkit-scrollbar-track,
    div *::-webkit-scrollbar-track {
        background: rgb(70, 70, 70);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    *::-webkit-scrollbar-thumb,
    div *::-webkit-scrollbar-thumb {
        background-color: rgb(153, 153, 153);
        
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 0px solid rgb(70, 70, 70);;
    }
}
a{
    color: #191919;
    text-decoration: none;
}
[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}
@media only screen and (max-width: 1230px)
{
    #search_all{
        width: 700px;
    }
    .search_input_field{
        width: 550px;
    }
    .search_butt{
        width: 65px;
        left: 565px;
    }
    .clear_mes_butt{
        width: 46px;
        left: -4px;
    }
    .navig_panel{
        width: 310px;
    }
    .change_theme_button{
        left: 270px;
    }
    .message_navig_panel{
        width: 310px;
    }
    .message_list_find_panel{
        width: calc(100vw - 350px);
    }
    .message_find_panel{
        width: calc(100vw - 350px);
    }
    .find_panel{
        width: calc(100% - 310px);
    }
}
@media only screen and (max-width: 1180px)
{
    .name_of_comp{
        font-size: 40px;
    }
    #search_all{
        width: 650px;
    }
    .search_input_field{
        width: 512px;
        left: -70px;
    }
    .search_butt{
        width: 60.45px;
        left: 530px;
    }
    .clear_mes_butt{
        width: 43px;
        left: 0px;
    }
    .navig_panel{
        width: 280px;
    }
    .change_theme_button{
        left: 240px;
    }
    .message_navig_panel{
        width: 280px;
    }
    .message_list_find_panel{
        width: calc(100vw - 320px);
    }
    .message_find_panel{
        width: calc(100vw - 320px);
    }
    .find_panel{
        width: calc(100% - 280px);
    }
}

@media only screen and (max-width: 1100px)
{
    .count_of_offers{
        width: calc(100% - 6vw);
        left: 3vw;
        font-size: 3vw;
    }
    .service_img{
        height: auto; width: calc(((100vw - 140px)/4) - 20px); aspect-ratio: 2/3;
    }
    .app_message_indicator{
        left: 38vw; top: 20px;
    }
    .saved_finded_panel{
        width: calc(100% - 6px);
        margin: 3px;
    }
    .sborishe_chelov{
        width: 100%;
        padding: 0px;
        padding-bottom: 100px;
    }
    .app_navig_panel_razdel{
        border-bottom: 0px solid rgb(138, 138, 138);
    }
    .app_navig_panel_img{
        margin: auto;
        display: block;
    }
    .avatar_in_panel{
        margin: auto;
        display: block;
    }
    #only_for_fon{
        display: inline-block;
    }
    #not_for_fon{
        display: none;
    }
    .message_list_find_panel{
        width: 100%;
        margin: 0px;
    }
    .message_find_panel{
        width: 100%;
        margin: 0px;
    }
    .img_exapt_text{
        display: block;
    }
    .text_in_panel{
        display: none;
    }
    .search_all_pos{
        justify-content: right;
    }
    #search_all{
        width: 500px;
    }
    #nobblol{
        display: inline-block;
    }
    .search_input_field{
        width: 350px;
        left: 200px;
    }
    .search_butt{
        position: absolute;
        width: 60.45px;
        left: 740px;
    }
    .clear_mes_butt{
        top: 4px;
        width: 43px;
        left: 205px;
    }

    .change_theme_button{
        left: 90vw;
        top: 0px;
    }
    .navig_panel{
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: rgb(221, 221, 221);
        bottom: 0px;
        left: 0px;
        padding: 0px;
        z-index: 100;
        box-shadow: 0px 0px 3px rgb(138, 138, 138);
    }
    .message_navig_panel{
        display: none;
    }
    .find_panel{
        width: 100%;
        height: auto;
    }
    .offer_of_lang{
        width: 220px;
        height: 320px;
        background-color: #c3c3c3;
        margin: 5px;
        display: inline-block;
        box-shadow: 0px 0px 10px #666666;
        cursor: pointer;
    }
    .name_of_comp{
        position: static;
        font-size: 30px;
        top: 10px;
    }
    .message_top_banner{
        display: none;
    }
    .top_banner{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .navig_panel_button{
        margin: 0px;
        display: inline-block;
        width: 20%;
    }
    .tag_select_panel{
        top: 0px;
        left: 0px;
    }
    .place_of_teach{
        margin: auto;
        padding: 0px;
         padding-bottom: 100px;
        
    }
    .my_account_panel{
        display: none;
    }
    .block_of_review{
        left: 110px;
    }
}

@media only screen and (max-width: 900px)
{
    .service_img{
        width: calc(((100vw - 140px)/3) - 20px);
    }
}

@media only screen and (max-width: 800px)
{
    .search_all_pos{
        justify-content: right;
    }
    #search_all{
        width: 500px;
    }
    .search_input_field{
        width: 350px;
        left: 150px;
    }
    .search_butt{
        position: absolute;
        width: 60.45px;
        left: 690px;
    }
    .clear_mes_butt{
        width: 43px;
        left: 154px;
    }

}

@media only screen and (max-width: 750px)
{
    
    #search_all{
        width: 500px;
    }
    .search_input_field{
        width: 350px;
        left: 96px;
    }
    .search_butt{
        position: absolute;
        width: 60.45px;
        left: 636px;
    }
    .clear_mes_butt{
        width: 43px;
        left: 100px;
    }
    .tag_select_panel {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .service_img{
        width: calc(((100vw - 40px)/3) - 20px);
    }
    .find_page_div_over_offer_types{
        width: calc(100% - 40px);
    }
    .count_of_offers{
        font-size: 4vw;
    }
    
}

@media only screen and (max-width: 700px)
{

    .offer_of_lang{
        width: 220px;
        height: 320px;
        background-color: #c3c3c3;
        margin: 5px;
        display: inline-block;
        box-shadow: 0px 0px 10px #666666;
        cursor: pointer;
    }
    .name_of_comp{
        position: static;
        font-size: 30px;
        top: 10px;
    }
    .tag_select_panel{
        top: 0px;
        left: 0px;
    }
    #search_all{
        display: none;
    }
    .my_account_panel{
        display: none;
    }
    .search_butt{
        position: absolute;
        left: 350px;
    }
    .telef_search{
        display: block;
        position: absolute;
        top: 0px;
        right: 450px
    }
    .block_of_review{
        left: 110px;
    }
    
}


@media only screen and (max-width: 600px)
{
    .service_img{
        width: calc(((100vw - 40px)/2) - 20px);
    }
    .find_page_div_over_offer_types{
        width: calc(100% - 20px);
    }
    .count_of_offers{
        font-size: 6vw;
        width: calc(100% - 12vw);
        left: 6vw;
    }
    .under_crt_offer_blank {
        width: 100%;
    }
}

@media only screen and (max-width: 525px)
{
    .navig_panel{
        height: 12vw;
    }
    .app_navig_panel_img {
        width: 9vw;
        height: 9vw;
    }
    .avatar_in_panel{
        width: 9vw;
        height: 9vw;
    }
    .find_page_teacher {
        margin-left: 3vw;
        font-size: 9vw;
        width: calc(100% - 5vw);
    }
    .find_page_teacher_description {
        margin: 3vw;
        margin-top: 10px;
        font-size: 5vw;
        width: calc(100% - 6vw);
    }
    .div_of_service {
        margin: 1vw;
    }
    .service_img{
        width: calc(((100vw - 4vw)/2) - 2vw);
        border-radius: 1vw;
    }
    .find_page_div_over_offer_types{
        width: calc(100% - 4vw);
        margin: 2vw;
    }
    .count_of_offers{
        font-size: 6vw;
        width: calc(100% - 12vw);
        left: 6vw;
        border-radius: 1vw;
    }
    .navig_panel_button{
        display: inline-block;
        background-color: #ebebeb00;
        border-radius: 0px;
        margin: 0px;
        height: 100%;
    }
    .offer_of_lang{
        width: 220px;
        height: 320px;
        background-color: #c3c3c3;
        margin: 5px;
        display: inline-block;
        box-shadow: 0px 0px 10px #666666;
        cursor: pointer;
    }
    .name_of_comp{
        position: static;
        font-size: 5.714vw;
        top: 10px;
    }
    .change_theme_button_img {
        height: 5.714vw;
        width: 5.714vw;
    }
    .change_theme_button{
        height: 5.714vw;
        width: 5.714vw;
    }
    .top_banner{
        display: flex;
        justify-content: left;
        align-items: center;
        height: 13.333vw;
    }
    .tag_select_panel{
        top: 0px;
        left: 0px;
    }
    #search_all{
        display: none;
    }
    .my_account_panel{
        display: none;
    }
    .search_butt{
        position: absolute;
        left: 350px;
        border: 0px;
        background-color: #00000000;
    }
    .telef_search{
        display: block;
    }
    .block_of_review{
        left: 110px;
    }
    .name_of_offer{
        width: calc(100% - 20px);
    }
    .under_crt_offer_blank {
        font-size: 3.8095vw;
    }
}


/*@media only screen and (max-width: 900px)
{
    .saved_finded_panel{
        width: calc(100% - 6px);
        margin: 3px;
    }
    .sborishe_chelov{
        width: 100%;
        padding: 0px;
        padding-bottom: 100px;
    }
}*/
@media only screen and (max-width: 460px)
{
    .img_of_review{
        width: 6.525vw;
        height: 6.525vw;
    }
    .block_of_review{
        left: 30vw;
        top: 55vw;
    }
    .name_of_offer{
        width: calc(100% - 2vw);
        top: 44vw;
        left: 2vw;
        font-size: 5vw;
    }
    .price_and_status{
        font-size: 5vw;
    }
    .block_of_price_and_status{
        top: 56vw;
        left: 2vw;
    }
    .offer_of_lang{
        aspect-ratio: 11/16;
        width: 47.8vw;
        height: auto;
        margin: 1.08vw;
    }
    .offer_image{
        height: 43.5vw;
    }
}
