.hello_main_page{
    width: 550px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    box-shadow: 0px 0px 20px 0px gray;
    background-color: #dadada;
    color: black;
    z-index: 1001;
}
.hello_main_info{
    height: calc(100% - 80px);
}
.hello_main_button{
    width: calc(100% - 20px);
    height: 80px;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
    background-color: #b9b9b9;
    color: rgb(0, 0, 0);
}
.hello_page_circle_unselected{
    width: 10px; height: 10px; background-color: rgb(155, 155, 155); position: relative; border-radius: 10px; margin: 5px;
}
.hello_page_circle_unselected.select{
    width: 10px; height: 10px; background-color: white; position: relative; border-radius: 10px; margin: 5px;
}
.hello_main_info_h3{
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.hello_main_info_p{
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.hello_swith_buttons_panel{
    width: 100%; height: 80px; position: relative;
}

.arrow-tail {
    position: absolute; right: 0px;
    width: 100px;
    height: 80px;
}
  
.arrow-tail::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 80px;
    height: 20px;
    background: #007bff;
    transform: translateY(-50%);
}
  
.arrow-tail::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 40px;
    border-color: transparent transparent transparent #007bff;
    transform: translateY(-50%);
}
.dark_theme{
    .hello_main_page{
        box-shadow: 0px 0px 20px 0px #383838;
        background-color: #2e2e2e;
        color: white;
    }
    .hello_main_button{
        background-color: #666666;
        color: white;
    }
    .hello_page_circle_unselected{
        background-color: rgb(155, 155, 155);
    }
    .hello_page_circle_unselected.select{
        background-color: white;
    }
    .arrow-tail::before {
        background: #007bff;
    }
    .arrow-tail::after {
        border-color: transparent transparent transparent #007bff;
    }
}


@media only screen and (max-width: 650px) 
{
    .hello_main_page{
        width: 84.61538461538462vw;
        height: 92.30769230769231vw;
        border-radius: 3.076923076923077vw;
        padding: 3.076923076923077vw;
        font-size: 3.846153846153846vw;
    }
    .hello_main_info{
        height: calc(100% - 12.30769230769231vw);
    }
    .hello_main_button{
        width: calc(100% - 3.076923076923077vw);
        height: 12.30769230769231vw;
        font-size: 4.615384615384615vw;
        margin: 1.538461538461538vw;
        border-radius: 1.538461538461538vw;
    }
    .hello_page_circle_unselected{
        width: 1.538461538461538vw; height: 1.538461538461538vw; border-radius: 1.538461538461538vw; margin: 0.7692307692307692vw;
    }
    .hello_page_circle_unselected.select{
        width: 1.538461538461538vw; height: 1.538461538461538vw; border-radius: 1.538461538461538vw; margin: 0.7692307692307692vw;
    }
    .hello_main_info_h3{
        font-size: 6.153846153846154vw;
        padding: 1.538461538461538vw;
    }
    .hello_main_info_p{
        font-size: 4.615384615384615vw;
        padding: 1.538461538461538vw;
    }
    .hello_swith_buttons_panel{
        height: 12.30769230769231vw;
    }
    .arrow-tail {
        width: 15.38461538461538vw;
        height: 12.30769230769231vw;
    } 
    .arrow-tail::before {
        width: 12.30769230769231vw;
        height: 3.076923076923077vw;
    }
    .arrow-tail::after {
        border-width: 6.153846153846154vw 0 6.153846153846154vw 6.153846153846154vw;
    }   
}