.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    z-index: 1000; /* Чтобы быть поверх других элементов */
  }
  
  .loading-spinner {
    border: 5px solid #f3f3f3; /* Светло-серый */
    border-top: 5px solid #3498db; /* Голубой */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }