.panel_of_messs{
    width: 900px; height: calc(100% - 30px); background-color: rgb(174, 174, 174); top: 10px; position: absolute; border-radius: 5px;
}
.message_list_chat_panel_more_button{
    background-color: #dcdcdc; z-index: 100; position: relative; left: calc(100% - 50px); border-radius: 50%; top: -80px; border: 1px solid #969696;
}
.message_list_chat_panel_more_button_div_of_points{
    width: 40px; height: 40px; display: flex; justify-content: center;
}
.message_list_chat_panel_more_button_points_one{
    width: 7px; height: 7px;  background-color: #ffffff; position: absolute; border-radius: 50%; top: 7px;
}
.message_list_chat_panel_more_button_points_two{
    width: 7px; height: 7px;  background-color: #ffffff; position: absolute; border-radius: 50%; top: 17px;
}
.message_list_chat_panel_more_button_points_three{
    width: 7px; height: 7px;  background-color: #ffffff; position: absolute; border-radius: 50%; top: 27px;
}
.message_list_unreaded_messages{
    background-color: black; z-index: 100; position: relative; left: calc(100% - 150px); border-radius: 50%; top: -95px; border: 1px solid black;
}
.message_list_unreaded_messages_div{
    width: 40px; height: 40px; display: flex; justify-content: center; color: white;
}
.message_list_chat_delete_panel{
    z-index: 101; position: absolute; right: 50px;
}
.message_list_chat_delete_panel_div{
    width: 100px; height: auto; background-color: #2e2e2e; z-index: 101; position: absolute; border-radius: 20px; top: -125px;
}
.message_list_chat_delete_panel_delete{
    width: 100%; height: 50px; background-color: #00000000; color: white; border: 1px solid black; border-top-right-radius: 20px; border-top-left-radius: 20px;
}
.message_list_chat_delete_panel_quit{
    width: 100%; height: 50px; background-color: #00000000; color: white; border: 1px solid black; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;
}
.message_list_chat_num{
    max-height: 92px;
}
.message_list_name_of_group{
    position: relative; bottom: 50px; left: 10px; display: inline-block; max-width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.message_list_span_of_mess{
    position: relative; top: 0px; font-size: 20px; margin-right: 5px;
}
.panel_of_one_mes{
    width: calc(100% - 2px); height: 90px; position: relative; border: 1px solid rgb(174, 174, 174); background-color: #ededed; z-index: 5; display: flex; align-items: center; border-radius: 5px;
}
.place_of_autor_mes{
    position: absolute; cursor: pointer; left: 20px;
}
.img_of_autor_mes{
    width: 70px; height: 70px; border-radius: 50px; top: 0px; display: inline-block;
}
.last_message{
    position: absolute; color: rgba(0, 0, 0, 0.548); left: 90px; top: 40px; font-size: 20px; max-width: 100%; white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message_list_find_panel{
    width: 100%;
    height: calc(100% - 70px);
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.message_find_panel{
    width: 100%;
    height: calc(100% - 70px);
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.saved_finded_panel{
    width: calc(100% - 50vw + 500px);
    height: calc(100% - 70px);
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.message_list_delete_chat{
    display: flex; width: 100vw; height: 100vh; justify-content: center; align-items: center;
}
.message_list_delete_chat_dark{
    width: 100vw; height: 100vh; position: fixed; top: 0px; left: 0px;  opacity: 0.5; z-index: 1000;
}
.message_list_delete_chat_panel{
    width: 600px; height: auto; background-color: #2e2e2e; position: relative; top: -124px; border-radius: 20px;  z-index: 1001;
}
.message_list_delete_chat_panel_up{
    display: flex; justify-content: center; width: 100%; background: #004aff; height: 70px; align-items: center; border-top-right-radius: 5px;  border-top-left-radius: 5px;
}
.message_list_delete_chat_panel_button_panel{
    width: 100%; height: 70px;
}
.message_list_delete_chat_panel_button{
    width: 50%; height: 100%;
}
div *::-webkit-scrollbar {
    height: 12px;
    width: 3px;
}
*::-webkit-scrollbar-track,
div *::-webkit-scrollbar-track {
    background: rgb(70, 70, 70);
}
*::-webkit-scrollbar-thumb,
div *::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    border: 0px solid rgb(70, 70, 70);;
}

.dark_theme{
    .message_list_chat_panel_more_button {
        background-color: #3d3d3d;
        border-color: black;
    }
    .message_list_chat_panel_more_button_points_one {
        background-color: #afafaf;
    }
    .message_list_chat_panel_more_button_points_two {
        background-color: #afafaf;
    }
    .message_list_chat_panel_more_button_points_three {
        background-color: #afafaf;
    }
    .message_list_find_panel{
        background-color: #191919;
    }
    .message_find_panel{
        background-color: #191919;
    }
    .saved_finded_panel{
        background-color: #191919;
    }
    .panel_of_messs{
        background-color: rgb(0, 0, 0);
    }
    .panel_of_one_mes{
        border: 1px solid black; background-color: #2e2e2e;
    }
    .last_message{
        color: rgba(255, 255, 255, 0.548);
    }
}



@media only screen and (max-width: 1700px)
{
    .message_list_find_panel{
        width: calc(100% - 200px);
    }
    .message_find_panel{
        width: calc(100% - 200px);
    }
    .saved_finded_panel{
        width: calc(100% - 330px);
    }
}

@media only screen and (max-width: 1400px)
{
    .message_list_find_panel{
        width: calc(100vw - 330px);
    }
    .message_find_panel{
        width: calc(100% - 330px);
    }
    .saved_finded_panel{
        width: calc(100% - 330px);
    }
}

@media only screen and (max-width: 1250px)
{
    .message_list_find_panel{
        width: calc(100vw - 370px);
        margin: 20px;
    }
    .message_find_panel{
        width: calc(100vw - 370px);
        margin: 20px;
    }
    .saved_finded_panel{
        width: calc(100vw - 370px);
        margin: 20px;
    }
    .panel_of_messs{
        width: 100%;
    }
}


@media only screen and (max-width: 1100px)
{
    .message_list_find_panel{
        width: 100vw;
        margin: 0px;
    }
    .message_find_panel{
        width: 100vw;
        margin: 0px;
    }
    .saved_finded_panel{
        width: calc(100vw - 10px);
        margin: 5px;
    }
    .panel_of_messs{
        width: 100%;
        height: calc(100% - 70px);
    }
    .message_list_chat_delete_panel{
        right: 108px;
    }
}

@media only screen and (max-width: 650px){
    .message_list_delete_chat_panel {
        width: 90%;
    }
}

@media only screen and (max-width: 525px)
{
    .message_list_unreaded_messages {
        left: calc(100% - 28.5714vw);
        top: -18.0952vw;
        border: 0.1904vw;
    }
    .message_list_unreaded_messages_div {
        width: 7.619vw;
        height: 7.619vw;
    }
    .saved_finded_panel {
        top: 13.3333vw;
    }
    .panel_of_one_mes{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .panel_of_messs{
        top: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }
    .find_panel{
        top: 0px;
    }
    .message_list_chat_num{
        max-height: 17.524vw;
    }
    .panel_of_one_mes{
        height: 17.143vw;
    }
    .img_of_autor_mes{
        width: 13.336vw;
        height: 13.336vw;
    }
    .message_list_chat_panel_more_button{
        top: -15.23vw;
        left: calc(100% - 9.52vw);
        border: 0.1904vw;
    }
    .message_list_chat_panel_more_button_div_of_points{
        width: 7.62vw; height: 7.62vw; display: flex; justify-content: center;
    }
    .message_list_chat_panel_more_button_points_one{
        width: 1.334vw; height: 1.334vw; border-radius: 50%; top: 1.334vw;
    }
    .message_list_chat_panel_more_button_points_two{
        width: 1.334vw; height: 1.334vw; border-radius: 50%; top: 3.334vw;
    }
    .message_list_chat_panel_more_button_points_three{
        width: 1.334vw; height: 1.334vw; border-radius: 50%; top: 5.334vw;
    }
    .message_list_name_of_group{
        left: 1.9vw;
        bottom: 9.52vw;
    }
    .message_list_span_of_mess{
        font-size: 3.8vw;
    }
    .message_list_find_panel{
        top: 13.333vw;
    }
    .last_message{
        left: 17.14vw;
        top: 7.61vw;
        font-size: 3.8vw;
    }
    .message_list_chat_delete_panel {
        right: 20.6vw;
    }
    .message_list_chat_delete_panel_div {
        width: 19.047vw;
        border-radius: 3.809vw;
        top: -23.8094vw;
    }
    .message_list_chat_delete_panel_delete {
        width: 100%;
        height: 9.523vw;
        border-top-right-radius: 3.809vw;
        border-top-left-radius: 3.809vw;
        font-size: 3vw;
    }
    .message_list_chat_delete_panel_quit {
        width: 100%;
        height: 9.523vw;
        border-bottom-right-radius: 3.809vw;
        border-bottom-left-radius: 3.809vw;
        font-size: 3vw;
    }
}