.emoji_picker{
    position: absolute;
    width: 450px;
    bottom: 0px;
    right: 0px;
}
.create_chat_button{
    height: 50px;
    position: absolute;
    right: 30px;
    display: inline-block;
    outline: none;
    width: calc(100% - 100px); border-radius: 20px; background-color: #00c925; border: 2px solid #00db1f
}
.create_chat_button_text{
    color: white; font-size: 30px;
}
.message_korzina{
    z-index: 101; position: absolute; right: 0px; margin-top: 5px; width: 80px; height: 60px;
}
.message_korzina_img{
    height: 60px; padding-left: 10px;
}
.message_call{
    z-index: 101; position: absolute; right: 0px; margin-top: 10px; width: 80px; height: 60px;
}
.message_call_img{
    height: 50px; padding-left: 15px;
}
.the_main_position_of_the_delete_edit_panel{
    position: fixed; left: 60vw; width: 50px; height: 50px; z-index: 10000; transform: scale(-1, 1);
}
.message_goback_img{
    height: 50px; width: 70px; margin-top: 10px;
}
.message_chat_info_div{
    position: relative; cursor: pointer; padding-left: 90px; padding-right: 80px; margin-top: 10px;
}
.message_chat_name{
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis; overflow-wrap: anywhere; width: calc(100% - 240px); margin-left: 10px; font-size: 16px;
}
.message_comp_my_message{
    margin-top: 40px; margin-bottom: 20px; position: relative; display: block; transform: scale(-1, 1); z-index: 1;
}
.message_comp_my_message_div{
    max-width: calc(100% - 60px); position: relative; border-radius: 10px; display: inline-block;
}
.message_comp_my_message_inside_pre{
    font-size: 18px; position: relative; padding: 10px; background-color: rgb(76 88 167); color: white; display: inline-block; white-space: pre-wrap; overflow-wrap: anywhere; border-radius: 10px; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; cursor: pointer; transform: scale(-1, 1);
}
.message_comp_my_message_inside_readed{
    font-size: 12px; position: relative; right: 0px; bottom: 0px;
}
.message_comp_my_message_inside_chan{
    font-size: 12px; position: relative; margin-right: 10px; bottom: 0px;
}
.message_comp_my_message_inside_not_chan{
    font-size: 12px; position: relative; margin-right: 0px; bottom: 0px;
}
.message_comp_link_to_sender{
    display: block; width: 50px; height: 50px; position: absolute; z-index: 10;
}
.message_comp_img_of_sender{
    height: 50px; width: 50px; border-radius: 30px; position: absolute; bottom: 0px; object-fit: contain; background-color: #2a2a2a;
}
.message_comp_not_my_message{
    margin-top: 40px; margin-bottom: 20px; position: relative; display: block; z-index: 1
}
.message_comp_not_my_message_inside_pre{
    font-size: 18px; position: relative; padding: 10px; background-color: rgb(120 120 120); color: white; display: inline-block; white-space: pre-wrap; overflow-wrap: anywhere; border-radius: 10px; left: 60px; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; cursor: pointer;
}

.message_comp_message_inside_chan{
    font-size: 12px; position: relative; margin-left: 10px; bottom: 0px;
}
.message_comp_message_inside_not_chan{
    font-size: 12px; position: relative; margin-left: 0px; bottom: 0px;
}
.message_comp_delete_panel{
    z-index: 101; position: absolute; transform: scale(-1, 1);
}
.message_comp_delete_panel_div{
    width: 200px; height: auto; background-color: #2e2e2e; z-index: 101; position: absolute; border-radius: 10px; top: -50px;
}
.message_comp_delete_panel_div_delete{
    width: 100%; height: 50px; background-color: #00000000; color: white; border: 1px solid black; border-top-right-radius: 10px; border-top-left-radius: 10px; font-size: 23px;
}
.message_comp_delete_panel_div_edit{
    width: 100%; height: 50px; background-color: #00000000; color: white; border: 1px solid black; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; font-size: 23px;
}

.message_finded_name {
    position: absolute;
    color: black;
    left: 230px;
    margin: 10px;
    color: rgb(40, 108, 255);
    width: 40%;
    overflow-wrap: anywhere;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}
.message_finded_price {
    display: block;
    left: -80px;
    top: 30px;
    margin: 10px;
    font-size: 18px;
    position: relative;
    color: black;
}
.message_description_lol {
    font-size: 18px;
    color: black;
    margin: 10px;
    margin-top: 30px;
    overflow-wrap: anywhere;
    margin-right: 50px;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 70px;
    left: -80px;
    position: absolute;
}
.message_finded_review {
    position: absolute;
    left: 160px;
    top: 30px;
    filter: hue-rotate(340deg);
}
.delete_mess_button{
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    width: 50px; 
    height: 50px; 
    background-color: #f8f8f8; 
    border: 2px solid gray;
    position: absolute; 
    bottom: 0px; 
    left: 50px; 
    display: inline-block; 
    outline: none;
}
.extra_mess_button{
    width: 55px; 
    height: 50px; 
    background-color: #f8f8f8; 
    position: absolute; 
    right: 100px; 
    display: inline-block; 
    border: 2px solid gray;
    outline: none;
}

.extra_mess{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0px;
    right: 28px;
    display: flex;
}

.parent_panel_call{
    width: 700px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 350px);

}

.panel_call{
    width: 700px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 350px);
    background-color: #3773ff;
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
}
.parent_panel_call:hover ~ .panel_call { height: 100px; opacity: 1;}
.panel_call:hover {
    height: 100px;
    opacity: 1;
}

.panel_of_messages{
    width: 900px; height: calc(100% - 30px); background-color: #bfbfbf; top: 10px; position: absolute; border-radius: 20px; border: 2px solid #5c5c5c;
}
/*message header*/
.goback_but{
    position: absolute; z-index: 100; display: none; filter: brightness(30%); margin-left: 10px
}
.panel_of_header{
    position: absolute; background-color: #ebebeb; width: 100%; height: 70px; top: 0px; border-top-right-radius: 20px; border-top-left-radius: 20px; z-index: 5;
}
.positing_of_micro_chel{
    width: 100%; height: 70px; position: absolute;
}
.img_of_micro_chel{
    width: 50px; height: 50px; border-radius: 50px; top: 0px; display: inline-block; object-fit: contain; background-color: #2a2a2a;
}
.message_top_banner{
    width: 100%;
    position: fixed;
    background-color: #ebebeb;
    height: 70px;
    top: 0px;
    left: 0px;
    z-index: 101;
}
/*message header*/

/* place of messages*/
.place_of_mess{
    background-color: #19191900; height: calc(100% - 200px); position: relative; bottom: 0px; display: block; width: 100%; flex-direction: column; justify-content: flex-end; flex-wrap: nowrap; display: flex; padding-top: 40px; ;
}
.message_mess_block{
    padding: 30px; display: block; overflow: auto; height: calc(100% - 60px); position: absolute; width: calc(100% - 60px); top: 0px; margin-top: 70px;
}
/* place of messages*/


/*place of writing message*/
.inviz_panel_of_writing{
    position: absolute; background-color: rgba(0, 0, 0, 0); width: 100%; height: 90px; bottom: 0px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; z-index: 5;
}
.jos_inviz_panel{
    width: 100%; min-height: 50px; position: absolute; bottom: 20px;
}
.centering_of_mess_panel{
    position: relative; cursor: pointer; justify-content: center; display: flex;
}
.some_vizible_part{
    background-color: #81242400; width: 800px; min-height: 50px; border-radius: 20px; box-shadow: 0px 0px 0px #5c5c5c;
}
.input_panel{
    font-size: 20px; padding: 10.5px; width: calc(100% - 300px); background-color: #f8f8f8; min-height: 25px; bottom: 0px; left: 100px; position: absolute; outline: none; display: inline-block; color: rgb(0, 0, 0); max-height: 100px; overflow: auto; border-radius: 5px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border: 2px solid gray;
}
.sending_button{
    width: 70px; height: 50px; background-color: #f8f8f8;  position: absolute; right: 30px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; display: inline-block; outline: none; border: 2px solid gray;
}

.clear_and_send_buttons_pos{
    position: absolute; right: 20px;
}
.img_delete{
    height: 25px; width: 23px; filter: brightness(20%);
}
.img_send{
    height: 30px; width: 30px; filter: brightness(20%);
}
/*place of writing message*/


div *::-webkit-scrollbar {
    height: 0px;
    width: 3px;
}
*::-webkit-scrollbar-track,
div *::-webkit-scrollbar-track {
    background: rgb(70, 70, 70);
}
*::-webkit-scrollbar-thumb,
div *::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    border: 0px solid rgb(70, 70, 70);;
}

.dark_theme{
    .img_delete{
        filter: brightness(100%);
    }
    .img_send{
        filter: brightness(100%);
    }
    .message_finded_name {
        color: white;
    }
    .message_finded_price {
        color: white;
    }
    .message_description_lol {
        color: white;
    }
    .message_finded_review {
        filter: unset;
    }
    .panel_of_messages{
        background-color: rgb(49, 49, 49);
    }
    .panel_of_header{
        background-color: rgb(22, 22, 22);
    }
    .input_panel{
        color: white;
        background-color: #191919;
        border-color: gray;
    }
    .delete_mess_button{
        background-color: #191919;
        border-color: gray;
    }
    .extra_mess_button{
        background-color: #191919;
        border-color: gray;
    }
    .sending_button{
        background-color: #191919;
        border-color: gray;
    }
    .goback_but{
        filter: unset;
    }
}

@media only screen and (max-width: 1250px)
{
    .panel_of_messages{
        width: 100%;
    }
}
@media only screen and (max-width: 1100px)
{
    .the_main_position_of_the_delete_edit_panel{
        left: unset; right: 350px;
    }
    .panel_of_header{
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .panel_of_messages{
        border: 0px;
        top: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }
    .goback_but{
        display: block;
    }
    .message_find_panel{
        top: 0px;
        height: 100%;
    }
    .input_panel{
        width: calc(100% - 300px);
    }
}


@media only screen and (max-width: 525px)
{
    .the_main_position_of_the_delete_edit_panel{
        right: 66.66666666666vw;
    }
    .message_comp_not_my_message{
        margin-top: 7.619047619vw; margin-bottom: 3.8095238095238098vw;
    }
    .place_of_mess {
        height: calc(100vh - 38.095238095vw);
        padding-top: 7.619047619vw;
    }
    .message_korzina {
        margin-top: 0.95238095238vw;
        width: 15.238095238vw;
        height: 11.428571428vw;
    }
    .message_korzina_img {
        height: 11.428571428vw;
        padding-left: 2.857142857vw;
    }
    .message_chat_name {
        width: calc(100% - 45.714285714vw);
        margin-left: 1.9047vw;
        font-size: 3.0476190476190476vw;
    }
    .message_comp_my_message {
        margin-top: 7.619047619vw;
        margin-bottom: 3.809523809vw;
    }
    .create_chat_button{
        height: 9.5238vw;
        right: 5.7142vw;
        width: calc(100% - 11.4285vw); border-radius: 3.8095vw;
    }
    .create_chat_button_text{
        font-size: 5.7142vw;
    }
    .goback_but{
        margin-left: 1.9047vw;
    }
    .message_goback_img{
        height: 9.5238vw;
        width: 13.333vw;
        margin-top: 1.9047vw;
    }
    .message_call{
        width: 15.238vw;
        height: 11.4285vw;
        margin-top: 1.9047vw;
    }
    .message_call_img{
        height: 9.5238vw;
        padding-left: 2.8571vw;
    }
    .img_of_micro_chel{
        width: 9.5238vw;
        height: 9.5238vw;
        border-radius: 50%;
    }
    .message_chat_info_div {
        padding-left: 17.1428vw;
        padding-right: 15.238vw;
        margin-top: 1.9047vw;
    }
    .positing_of_micro_chel {
        height: 13.333vw;
    }
    .message_mess_block {
        margin-top: 13.333vw;
        padding: 1.9047vw;
        height: calc(100vh - 34.4761vw);
        width: calc(100% - 3.8095vw);
    }
    .jos_inviz_panel{
        bottom: 3.8095vw;
        min-height: 5vw;
    }
    .delete_mess_button{
        border: 0.3809vw solid;
        left: 0px;
        width: 9.526vw;
        height: 9.526vw;
    }

    .panel_of_messages{
        top: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }
  /*  .navig_panel{
        display: none;
    }*/
    .find_panel{
        top: 13.333333333vw;
    }
    .panel_of_header{
        height: 13.333vw;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .input_panel{
        border: 0.3809vw solid;
        width: calc(100% - 38vw);
        padding: 2vw;
        font-size: 3.8095vw;
        min-height: 5vw;
        max-height: 19.047vw;
        left: 9.523vw;
    }
    .sending_button{
        border: 0.3809vw solid;
        right: 0px;
        min-height: 9.526vw;
        height: 9.526vw;
        width: 14.097vw;
    }
    .clear_and_send_buttons_pos {
        right: 0px;
    }
    .extra_mess_button{
        border: 0.3809vw solid;
        right: 13.733vw;
        min-height: 9.526vw;
        height: 9.526vw;
        width: 10.24vw;
    }
    .some_vizible_part{
        min-height: 9.526vw;
    }
    .img_delete{
        width: 4.382vw;
        height: 4.764vw;
    }
    .img_send{
        height: 5.717vw;
        width: 5.717vw;
    }
    .message_comp_my_message_inside_pre {
        font-size: 3.4285vw;
        padding: 1.9047vw;
        border-radius: 1.9047vw;
    }
    .message_comp_my_message_inside_not_chan {
        font-size: 2.2857vw;
    }
    .message_comp_my_message_inside_readed {
        font-size: 2.2857vw;
    }
    .message_comp_my_message_div {
        max-width: calc(100% - 11.4285vw);
        border-radius: 1.9047vw;
    }
    .message_comp_link_to_sender{
        width: 9.5238vw; height: 9.5238vw;
    }
    .message_comp_img_of_sender{
        height: 9.5238vw; width: 9.5238vw; border-radius: 5.7142vw;
    }
    .message_comp_not_my_message_inside_pre {
        font-size: 3.4285vw;
        padding: 1.9047vw;
        border-radius: 1.9047vw;
        left: 11.4285vw;
    }
    .message_comp_my_message_inside_chan {
        font-size: 2.2857vw;
        margin-right: 1.9047vw;
    }
    .inviz_panel_of_writing {
        height: 17.1428vw;
    }
    .message_comp_delete_panel_div {
        width: 38.0952380952381vw;
        border-radius: 1.9047vw;
        top: -9.5238vw;
    }
    .message_comp_delete_panel_div_delete {
        font-size: 4vw;
        height: 9.5238vw;
        border: 0.1904vw solid black;
        border-top-right-radius: 1.9047vw;
        border-top-left-radius: 1.9047vw;
    }
    .message_comp_delete_panel_div_edit {
        font-size: 4vw;
        height: 9.5238vw;
        border: 0.1904vw solid black;
        border-bottom-right-radius: 1.9047vw;
        border-bottom-left-radius: 1.9047vw;
    }
}
@media only screen and (max-width: 450px)
{
    .emoji_picker{
        width: 100vw;
    }
}