.panel_of_messs{
    width: 900px; height: calc(100% - 30px); background-color: rgb(174, 174, 174); top: 10px; position: absolute; border-radius: 5px;
}
.panel_of_one_mes{
    width: calc(100% - 2px); height: 90px; position: relative; border: 1px solid white; background-color: #ededed; z-index: 5; display: flex; align-items: center; border-radius: 5px;
}
.place_of_autor_mes{
    position: absolute; cursor: pointer; left: 20px;
}
.img_of_autor_mes{
    width: 70px; height: 70px; border-radius: 50px; top: 0px; display: inline-block;
}
.last_message{
    position: absolute; color: rgba(0, 0, 0, 0.548); left: 90px; top: 40px; font-size: 20px; max-width: 200%; white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message_list_find_panel{
    width: 100%;
    height: calc(100% - 70px);
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.message_find_panel{
    width: 100%;
    height: calc(100% - 70px);
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.saved_finded_panel{
    width: calc(100% - 50vw + 500px);
    height: calc(100% - 70px);
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}

div *::-webkit-scrollbar {
    height: 12px;
    width: 3px;
}
*::-webkit-scrollbar-track,
div *::-webkit-scrollbar-track {
    background: rgb(70, 70, 70);
}
*::-webkit-scrollbar-thumb,
div *::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    border: 0px solid rgb(70, 70, 70);;
}

.dark_theme{
    .message_list_find_panel{
        background-color: #191919;
    }
    .message_find_panel{
        background-color: #191919;
    }
    .saved_finded_panel{
        background-color: #191919;
    }
    .panel_of_messs{
        background-color: rgb(0, 0, 0);
    }
    .panel_of_one_mes{
        border: 1px solid black; background-color: #2e2e2e;
    }
    .last_message{
        color: rgba(255, 255, 255, 0.548);
    }
}



@media only screen and (max-width: 1700px)
{
    .message_list_find_panel{
        width: calc(100% - 200px);
    }
    .message_find_panel{
        width: calc(100% - 200px);
    }
    .saved_finded_panel{
        width: calc(100% - 330px);
    }
}

@media only screen and (max-width: 1400px)
{
    .message_list_find_panel{
        width: calc(100vw - 330px);
    }
    .message_find_panel{
        width: calc(100% - 330px);
    }
    .saved_finded_panel{
        width: calc(100% - 330px);
    }
}

@media only screen and (max-width: 1250px)
{
    .message_list_find_panel{
        width: calc(100vw - 370px);
        margin: 20px;
    }
    .message_find_panel{
        width: calc(100vw - 370px);
        margin: 20px;
    }
    .saved_finded_panel{
        width: calc(100vw - 370px);
        margin: 20px;
    }
    .panel_of_messs{
        width: 100%;
    }
}



@media only screen and (max-width: 525px)
{
    .panel_of_one_mes{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .panel_of_messs{
        top: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }
    .find_panel{
        top: 0px;
    }
}