.my_lessons_name_of_lang{
    font-size: 50px; margin: 20px; color: black;
}
.my_lessons_tarif{
    font-size: 35px; margin: 20px; color: black;
}
.now_lessons_lesson_Link{
    width: 880px; height: 250px; margin: 10px; border-radius: 10px; padding: 10px;
}
.now_lessons_lesson_Link_now{
    background-color: rgb(0, 110, 212);
}
.now_lessons_lesson_Link_exp{
    background-color: rgb(197, 197, 197);
    box-shadow: 1px 1px 1px gray;
}

.dark_theme{
    .my_lessons_name_of_lang{
        color: rgb(255, 255, 255);
    }
    .my_lessons_tarif{
        color: rgb(255, 255, 255);
    }   
    .now_lessons_lesson_Link_exp{
        background-color: rgb(105, 105, 105);
        box-shadow: 1px 1px 1px gray;
    }
    
}

@media only screen and (max-width: 1400px)
{
    .now_lessons_lesson_Link{
        width: calc(100% - 40px); 
    }
}

@media only screen and (max-width: 525px)
{
    .now_lessons_lesson_Link{
        width: calc(100% - 7.619047619047619vw); height: 47.61904761904762vw; margin: 1.904761904761905vw; border-radius: 1.904761904761905vw; padding: 1.904761904761905vw;
    }
    .my_lessons_name_of_lang{
        font-size: 9.523809523809524vw; margin: 3.80952380952381vw;
    }
    .my_lessons_tarif{
        font-size: 6.666666666666667vw; margin: 3.80952380952381vw; 
    }
}