.now_lessons_lesson_Link{
    width: 900px; height: 300px; margin: 10px; border-radius: 10px;
}
.now_lessons_lesson_Link_now{
    background-color: rgb(0, 97, 189);
}
.now_lessons_lesson_Link_exp{
    background-color: rgba(255, 255, 255, 0.192);
    box-shadow: 1px 1px 1px gray;
}


@media only screen and (max-width: 1400px)
{
    .now_lessons_lesson_Link{
        width: calc(100% - 20px); 
    }
}

@media only screen and (max-width: 525px)
{
    .now_lessons_lesson_Link{
        width: calc(100% - 3.80952380952381vw); height: 57.14285714285714vw; margin: 1.904761904761905vw; border-radius: 1.904761904761905vw;
    }
}