.not_found_all_container_404_positing{
    width: 100%; height: calc(100% - 140px);
}
.not_found_all_container_404{
    display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; position: absolute;
}
.not_found_font_404{
    font-size: 400px;
}
.not_found_no_yet{
    width: 1000px; height: 300px; display: flex; justify-content: center;
}
.not_found_no_yet_font{
    margin-top: 50px; font-size: 30px; font-weight: bold;
}




@media only screen and (max-width: 1800px){
    .not_found_all_container_404_positing{
        width: calc(100% - 330px);
    }
}
@media only screen and (max-width: 1400px){
    .not_found_no_yet{
        width: 100%;
    }
}
@media only screen and (max-width: 1100px){
    .not_found_all_container_404_positing{
        width: 100%;
    }
}
@media only screen and (max-width: 900px){
    .not_found_font_404{
        font-size: 44.44444444444vw;
    }
    .not_found_no_yet_font{
        margin-top: 5.55555555vw; font-size: 3.333333333vw;
    }
}
