.notfound_link_for_404{
    display: block;
    width: 300px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.not_found_all_container_404_positing{
    width: 100%; height: 100%;
}
.not_found_all_container_404{
    display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; position: absolute;
}
.not_found_font_404{
    font-size: 400px;
}
.not_found_no_yet{
    width: 1000px; height: 300px; display: flex; justify-content: center;
}
.not_found_no_yet_font{
    margin-top: 50px; font-size: 30px; font-weight: bold;
}

.dark_theme{
    .notfound_link_for_404{
        background-color: white;
        color: black;
    }   
}


@media only screen and (max-width: 900px){
    .notfound_link_for_404{
        width: 57.14285714285714vw;
        height: 19.04761904761905vw;
        font-size: 3.80952380952381vw;
        border-radius: 0.9523809523809524vw;
    }
    .not_found_font_404{
        font-size: 44.44444444444vw;
    }
    .not_found_no_yet_font{
        margin-top: 5.55555555vw; font-size: 3.333333333vw;
    }
}
