.offer_type_flag_img{
    height: auto; width: 160px; aspect-ratio: 16/10; position: absolute; z-index: 10; top: 30px; left: 20px
}
.offer_type_name_of_lang{
    position: absolute; font-size: 28px; z-index: 10; font-weight: 600; top: 170px; color: white;
}



@media (max-width: 1100px) {
    .offer_type_flag_img{
        width: calc(100% - 2.727272727272727vw);
        top: 2.727272727272727vw;
        left: 1.818181818181818vw;
    }
    .offer_type_name_of_lang{
        font-size: 2.545454545454545vw;
        top: 15.45454545454545vw;
    }
}
@media (max-width: 900px) {
    .offer_type_name_of_lang{
        font-size: 3.5vw;
        top: 25vw;
    }
}
@media (max-width: 600px) {
    .offer_type_name_of_lang{
        font-size: 6vw;
        top: 38vw;
    }
}
