.offer_review_modal-container-enter {
    transform: translateY(100%);
}

.offer_review_modal-container-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.offer_review_modal-container-exit {
    transform: translateY(0);
}

.offer_review_modal-container-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}


.offer_right_next_photo_button{
    position: absolute; right: 0px; z-index: 11; top: calc(50% - 25px); background-color:#00000000; width: 50px; height: 50px;
}
.offer_left_next_photo_button{
    position: absolute; left: 0px; z-index: 11; top: calc(50% - 25px); background-color:#00000000; width: 50px; height: 50px; transform: rotate(180deg);
}
.offer_page_div_of_offer_div {
    width: 100%;
    height: auto;
    left: 0px;
    z-index: 15;
    position: relative;
    top: 700px;
    margin-top: 200px;
}
.offer_page_vozmozno{
    font-size: 30px;
    margin-left: 5px;
}
.offer_page_name{
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    height: 75px;
    font-size: 32px;
    display: block;
}
.offer_page_div_of_info{
    width: 100%; 
    height: 400px; 
    margin-top: 50px;
}
.offer_page_div_of_info_li{
    margin: 20px;
    font-size: 20px;
}
.offer_page_reviews_score{
    margin-bottom: 30px;
    font-size: 30px;
    position: absolute;
}
.offer_page_up_review_block{
    display: block;
    padding-bottom: 100px;
    position: relative;
    top: 50px;
    border: 1px solid gray;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.offer_page_show_more_reviews_button{
    display: block;
    padding: 30px;
    position: relative;
    top: 50px;
    border: 1px solid gray;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}
.offer_page_show_more_reviews_button_span{
    position: relative;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
}
.offer_page_show_more_button_expanded{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 5px;
    font-size: 14px;
}
.offer_page_show_more_button{
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    padding: 0px;
    margin-top: 5px;
    display: block;
}

.offer_review_modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  /* Backdrop styles */
  .offer_review_modal-backdrop {
    position: fixed;
    z-index: 1000;
    background: black;
    width: 100vw;
    height: 100vh;
    opacity: 30%;
  }
  
  /* Modal content styles */
  .offer_review_modal-content {
    position: fixed;
    z-index: 1001;
    margin: auto;
    display: block;
    width: 500px;
    height: auto;
    background-color: rgb(46, 46, 46);
    padding: 50px;
    border-radius: 10px;
  }
  
  /* Title styles */
  .offer_review_modal-title {
    text-align: center;
    font-size: 50px;
    margin: 30px;
    margin-top: 0;
  }
  
  /* Reviews scroll container */
  .offer_review_reviews-scroll-container {
    overflow: auto;
    height: 500px;
  }


.div_of_foto_and_button{
    height: auto; width: 630px; position: absolute;top: 40px; left: 50px; 
}
.foto_main{
    width: auto; aspect-ratio: 1/1; max-height: 630px; background-color: gray;
}
.button_under_foto{
    background-color: #00db76; color: white; font-size: 30px; height: 50px; width: 630px; position: absolute; left: 0px; top: calc(100% + 20px); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; box-shadow: 0px 0px 0px #666666;
}
.div_description{
    width: 47%; height: auto;  left: 0px; z-index: 15; position: relative; top: 700px; margin: 50px; margin-top: 100px;
}
.description_text{
    display: inline-block; font-size: 25px; padding: 0px; white-space: pre-wrap; overflow-wrap: anywhere; margin-bottom: 5px; width: 630px;
}
.div_of_offer_div{
    width: 100%; height: auto;  left: 0px; z-index: 15; position: relative; top: 700px; 
}
.offer_div
{
    display: inline-block;font-size: 25px; padding: 50px;
}
.review_div{
    height: auto; width: 53%; top: 0px; position: absolute; right: 0px;
}
.margin_of_offer{
    margin: 50px; width: 70%;
}
.offer_price_div{
    padding-bottom: 50px;
}
.offer_price{
    font-size: 40px; position: relative; margin-top: 30px;
}
.offer_save_to_fav_button{
    position: absolute; right: 80px; top: 60px; background-color: #00000000; filter: brightness(70%);
}
.offer_src_img{
    width: 40px; height: 40px; z-index: 10;
}
.offer_review_div_div{
    width: calc(100% - 2px); height: auto; border: 1px solid gray; position: relative; top: 50px;
}
.offer_review_div{
    position: relative; top: 20px; left: 20px; cursor: pointer; width: calc(100% - 20px);
}
.offer_score_img{
    width: 100px; height: 20px; right: 0px; position: absolute; top: 10px; margin-right: 20px; transform: scale(-1, 1); filter: hue-rotate(340deg);
}
.offer_review_text{
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
.offer_author_name_div{
    position: relative;
    bottom: 50px;
    left: 10px;
    display: inline-block;
}
.offer_author_name_span{
    color: black;
    position: relative;
    top: 0px;
    font-size: 20px;
    margin-right: 5px;
}
.offer_set_review_div{
    display: flex;
    justify-content: center;
    min-height: 50px;
    width: 60%;
    left: 130px;
    position: absolute;
}
.offer_about_author_div{
    width: 628px; height: 90px; position: relative; border: 1px solid black; background-color: #ededed; z-index: 5; display: flex; align-items: center; border-radius: 5px; margin-top: 90px;
}
.offer_about_author{
    position: absolute; cursor: pointer; left: 20px;
}
.offer_me_real_pers{
    position: relative; left: 0px; top: 0px; width: 25px;
}
.offer_author_description{
    position: absolute; color: black; left: 90px; top: 40px; font-size: 20px; max-width: 200%; white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*feedback moment*/
.star{
    height: 50px; height: 50px; display: inline-block; margin: 10px;
    z-index: 20;
}

/*feedback moment*/

.dark_theme{
    .offer_page_show_more_button{
        color: white;
    }
    .offer_save_to_fav_button{
        filter: brightness(100%);
    }
    .offer_about_author_div{
        background-color: #191919;
    }
    .offer_author_description{
        color: white;
    }
    .offer_about_author_div{
        border: 1px solid white;
    }
    .offer_author_name_span{
        color: white;
    }
    .button_under_foto{
        background-color: #00db76; color: black
    }
    .offer_score_img{
        filter: unset;
    }
}

@media only screen and (max-width: 1750px)
{
    .offer_author_description{
        max-width: 20vw;
    }
    .offer_about_author_div{
        width: 36vw;
    }
    .div_of_foto_and_button{
        width: 36vw;
    }
    .foto_main{
        max-height: 36vw;
    }
    .button_under_foto {
        width: 36vw;
    }
    .review_div{
        width: 40vw;
    }
    .description_text{
        width: 36vw;
    }
}
@media only screen and (min-width: 1451px)
{
    #comp{
        display: block;
    }
    #phone{
        display: none;
    }
}
@media only screen and (max-width: 1450px)
{
    .offer_author_description{
        max-width: 40vw;
    }
    .offer_about_author_div{
        width: calc(100% - 2px);
    }
    .offer_set_review_div{
        left: 0px;
    }
    .offer_save_to_fav_button {
        right: unset;
        position: absolute;
        left: calc(100% - 40px);
        top: 0px;
        background-color: #00000000;
    }
    .div_of_foto_and_button{
        height: auto; width: 60%; position: relative; left: unset; top: unset; margin: 50px;
    }
    .foto_main{
        width: 100%; height: auto; position: relative; aspect-ratio: 1/1; max-height: unset;
    }
    .button_under_foto{
        font-size: 30px; height: 50px; width: 100%; position: relative; left: 0px; top: 0px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; box-shadow: 0px 0px 0px #666666;
    }
    .div_description{
        width: 100%; height: auto; left: 0px; z-index: 15; position: relative; top: 0px; margin: 0px;
    }
    .description_text{
        display: inline-block; font-size: 25px; padding: 0px; width: 100%
    }
    .review_div{
        height: auto; width: 60%; top: 50px; position: relative; right: unset; left: 0px; margin: 50px;
    }
    .margin_of_offer{
        margin: 0px;
        margin-top: 40px;
        width: calc(100% - 60px);
    }
    .div_of_offer_div{
        width: 60%; height: auto;  left: 0px; z-index: 15; position: relative; top: 50px; margin: 40px;
    }
    .offer_page_div_of_offer_div{
        width: 60%; height: auto;  left: 0px; z-index: 15; position: relative; top: 50px; margin: 40px; margin-top: 200px;
    }
    .offer_div
    {
        display: inline-block; font-size: 25px; padding: 0px; width: 100%; padding-bottom: 100px;
    }
    #comp{
        display: none;
    }
    #phone{
        display: block;
    }
}
@media only screen and (max-width: 1200px)
{
    .review_div{
        width: calc(100% - 100px);
    }
    .offer_author_description{
        max-width: 40vw;
    }
    .offer_set_review_div{
        left: 60px;
    }
    .offer_save_to_fav_button {
         left: calc(100% - 40px);
    }
    .div_of_foto_and_button{
        width: 70%;
    }
    .foto_main{
        width: 100%;
    }
    .div_description{
        width: 100%;
    }
    .margin_of_offer{
        width: 100%;
    }
    .div_of_offer_div{
        width: 70%;
    }
    .offer_page_div_of_offer_div{
        width: 70%;
    }
}

@media only screen and (max-width: 1100px)
{
    .offer_page_name{
        width: calc(100% - 50px);
    }
    .offer_page_div_of_info{
        height: auto;
    }
    .offer_review_modal-content {
        width: calc(100% - 100px);
        padding: 50px;
        border-radius: 10px;
        bottom: 0px;
        height: 80%;
        border-radius: 0px;
    }
    .offer_review_reviews-scroll-container {
        overflow: auto;
        height: calc(100% - 100px);
    }
    .offer_author_description{
        max-width: 70vw;
    }
    .offer_set_review_div{
        left: 120px;
    }
    .div_of_foto_and_button{
        width: calc(100% - 100px);
    }
    .div_description{
        width: 100%;
    }
    .margin_of_offer{
        width: 100%;
    }
    .div_of_offer_div{
        width: calc(100% - 100px);
    }
    .offer_page_div_of_offer_div{
        width: calc(100% - 100px);
    }
}
@media only screen and (max-width: 800px)
{
    .review_div{
        margin: 40px;
        width: calc(100% - 80px);
    }
    .div_of_foto_and_button{
        margin: 40px;
        width: calc(100% - 80px);
    }
    .div_description{
        width: 100%;
    }
    .margin_of_offer{
        width: 100%;
    }
    .div_of_offer_div{
        margin: 40px;
        width: calc(100% - 80px);
    }
    .offer_page_div_of_offer_div{
        margin: 40px;
        width: calc(100% - 80px);
        margin-top: 200px;
    }
}
@media only screen and (max-width: 700px)
{
    .offer_set_review_div{
        left: 80px;
    }
    .review_div{
        margin: 30px;
        width: calc(100% - 60px);
    }
    .div_of_foto_and_button{
        margin: 30px;
        width: calc(100% - 60px);
    }
    .div_description{
        width: 100%;
    }
    .margin_of_offer{
        width: 100%;
    }
    .div_of_offer_div{
        margin: 30px;
        width: calc(100% - 60px);
    }
    .offer_page_div_of_offer_div{
        margin: 30px;
        margin-top: 200px;
        width: calc(100% - 60px);
    }
}

@media only screen and (max-width: 525px)
{
    .offer_save_to_fav_button {
        left: calc(100% - 7.619047619047619vw);
    }
    .button_under_foto {
        font-size: 5.714285714285714vw;
        height: 9.523809523809524vw;
        border-bottom-left-radius: 3.8095238095238093vw;
        border-bottom-right-radius: 3.8095238095238093vw;
    }
    .offer_page_reviews_score {
        margin-bottom: 5.714285714285714vw;
        font-size: 5.714285714285714vw;
    }
    .offer_page_show_more_button_expanded{
        padding-left: 3.8095238095238093vw;
        padding-bottom: 3.8095238095238093vw;
        margin-top: 0.9523809523809524vw;
        font-size: 2.6666666666666665vw;
    }
    .offer_page_show_more_reviews_button_span {
        font-size: 5.714285714285714vw;
        margin: 3.8095238095238093vw;
    }
    .offer_review_text {
        padding: 3.8095238095238093vw;
        margin-top: 3.8095238095238093vw;
        font-size: 3.0476190476190477vw;
    }
    .offer_score_img {
        width: 19.047619047619047vw;
        height: 3.8095238095238093vw;
        top: 1.9047619047619047vw;
        margin-right: 3.8095238095238093vw;
    }
    .offer_review_div {
        top: 3.8095238095238093vw;
        left: 3.8095238095238093vw;
        width: calc(100% - 3.8095238095238093vw);
    }
    .offer_review_div_div {
        width: calc(100% - 0.38095238095238093vw);
        border: 0.19047619047619047vw solid;
        top: 9.523809523809524vw;
    }
    .offer_page_up_review_block {
        padding-bottom: 19.047619047619047vw;
        top: 9.523809523809524vw;
        border: 0.19047619047619047vw solid;
        border-top-left-radius: 9.523809523809524vw;
        border-top-right-radius: 9.523809523809524vw;
    }
    .offer_page_show_more_reviews_button {
        padding: 5.714285714285714vw;
        top: 9.523809523809524vw;
        border: 0.19047619047619047vw solid;
        border-bottom-left-radius: 9.523809523809524vw;
        border-bottom-right-radius: 9.523809523809524vw;
    }
    .offer_review_reviews-scroll-container {
        height: calc(100% - 19.047619047619047vw);
    }
    .offer_review_modal-content {
        width: calc(100% - 19.047619047619047vw);
        padding: 9.523809523809524vw;
    }
    .offer_review_modal-title {
        font-size: 9.523809523809524vw;
        margin: 5.714285714285714vw;
    }
    .offer_page_name{
        width: calc(100% - 9.523809523809524vw);
        font-size: 6.095238095238095vw;
        height: 14.285714285714286vw;
    }
    .offer_page_div_of_info {
        margin-top: 9.523809523809524vw;
    }
    .description_text {
        font-size: 4.761904761904762vw;
    }
    .offer_set_review_div{
        left: unset;
        width: calc(100% - 22.857142857142858vw);
    }
    .review_div{
        top: 9.523809523809524vw;
        margin: 1.9047619047619047vw;
        width: calc(100% - 3.8095238095238093vw);
    }
    .offer_src_img {
        width: 7.619047619047619vw;
        height: 7.619047619047619vw;
    }
    .offer_price_div {
        padding-bottom: 9.523809523809524vw;
    }
    .offer_price {
        font-size: 7.619047619047619vw;
        margin-top: 5.714285714285714vw;
    }
    .div_of_foto_and_button{
        margin: 1.9047619047619047vw;
        width: calc(100% - 3.8095238095238093vw);
    }
    .div_description{
        width: 100%;
    }
    .margin_of_offer{
        width: 100%;
        margin-top: 7.619047619047619vw;
    }
    .div_of_offer_div{
        margin: 0px;
        width: 100%;
    }
    .offer_page_div_of_offer_div{
        margin: 0px;
        margin-top: 38.09523809523809vw;
        width: 100%;
        top: 9.523809523809524vw;
    }
    .offer_page_vozmozno{
        font-size: 5.714285714285714vw;
        margin-left: 0.9523809523809524vw;
    }
    .offer_author_name_span {
        font-size: 3.8095238095238093vw;
        margin-right: 0.9523809523809524vw;
    }
    .offer_about_author_div {
        height: 17.142857142857142vw;
        border-radius: 0.9523809523809524vw;
        margin-top: 17.142857142857142vw;
    }
    .offer_about_author {
        left: 3.8095238095238093vw;
    }
    .offer_author_name_div {
        bottom: 9.523809523809524vw;
        left: 1.9047619047619047vw;
    }
    .offer_author_description {
        font-size: 3.8095238095238093vw;
        left: 17.142857142857142vw;
        top: 7.619047619047619vw;
    }
    .offer_page_div_of_info_li {
        margin: 3.8095238095238093vw;
        font-size: 3.8095238095238093vw;
    }
    .offer_page_show_more_button {
        font-size: 2.857142857142857vw;
        margin-top: 0.9523809523809524vw;
    }
    .offer_me_real_pers {
        width: 4.761904761904762vw;
    }
    .offer_right_next_photo_button{
        top: calc(50% - 4.761904761904762vw); width: 9.523809523809524vw; height: 9.523809523809524vw;
    }
    .offer_left_next_photo_button{
        top: calc(50% - 4.761904761904762vw); width: 9.523809523809524vw; height: 9.523809523809524vw;
    }
}
@media only screen and (max-width: 450px)
{
    .star{
        height: 11.114vw;
        margin: 2.2228vw;
    }
}