.CheckboxCaptcha-Button {
    border-radius: 1px !important;
}
.CaptchaLinks.Text {
    font-size: 20px !important;
}
.Text_typography_control-l{
    font-size: 20px !important;
}
.smart-captcha {
    min-width: 100% !important;
    height: 102px !important;
    min-height: 102px !important; /* Минимальная высота */
}


.log_and_reg_disabled-label {
    opacity: 0.6;
    cursor: not-allowed;
}
.log_and_reg_text_login_via{
    text-align: center;
}
.log_and_reg_oauth_services{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.timer_for_code_time{
    font-size: 15px; margin: 20px;
}
.log_reg_text_main_div {
    width: 1100px;
}
.log_reg_before_using{
    font-size: 20px;
    padding: 20px;
}
.reg_log_agree_with_privacy_checkbox{
    width: 15px;
}
.reg_log_agree_with_privacy{
    font-size: 16px;
    color: black;
}
.reg_log_error_text{
    z-index: 150; width: 100%; height: 30px; text-align: center; color: red;
}
.reg_log_the_main_header{
    display: flex; justify-content: center; width: 100%; background: #004aff; height: 70px; align-items: center; border-top-left-radius: 5px;  border-top-left-radius: 5px;
}
.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    color: rgb(0, 0, 0);
    border: 0px;
    font-size: 20px;
    background: #00000000;
    border-bottom: 2px solid;
    width: calc(100% - 30px);
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
}
.user_card {
    width: 400px;
    background: #ebebeb00;
    position: relative;
    padding: 0px;
    border-radius: 5px;
    margin: auto;
}

.input-group {
    width: 350px;
}

.input-group-append {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form_container {
    display: flex;
    justify-content: center;
}
.log_reg_other_links {
    margin-left: 10px;
    color: rgb(0, 0, 0);
}
#form-title {
    color: #fff;
    font-size: 20px;
}
.mt-4 {
    padding-bottom: 30px;
    font-size: 16px;
}

.login_btn {
    width: 100%;
    background: #2854c7;
    color: white !important;
    font-size: 25px;
    height: 50px;
    border: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.input-group-text {
    color: rgb(0, 0, 0) !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    font-size: 16px;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.dark_theme {
    .reg_log_agree_with_privacy{
        color: white;
    }
    .form-control {
        color: white;
    }
    .log_reg_other_links {
        color: white;
    }
    .input-group-text {
        color: white !important;
    }
}


@media only screen and (max-width: 525px)
{

    .CaptchaLinks.Text {
        font-size: 20px !important;
    }
    .Text_typography_control-l{
        font-size: 20px !important;
    }
    .smart-captcha {
        min-width: 100% !important;
        height: 19.42857142857143vw !important;
        min-height: 19.42857142857143vw !important; /* Минимальная высота */
    }


    .timer_for_code_time{
        font-size: 2.857142857142857vw; margin: 3.80952380952381vw;
    }
    .reg_log_agree_with_privacy_checkbox{
        width: 2.857142857142857vw;
    }    
    .reg_log_agree_with_privacy{
        font-size: 3.047619047619048vw;
    }    
    .input-group-text {
        font-size: 3.047619047619048vw;
    }
    .reg_log_error_text{
        height: 5.714285714285714vw;
    }

    .reg_log_the_main_header{
        height: 13.33333333333333vw; border-top-left-radius: 0.9523809523809524vw;  border-top-left-radius: 0.9523809523809524vw;
    }
    
    #form-title {
        font-size: 3.80952380952381vw;
    }
    
    .form-control {
        padding: 2.857142857142857vw;
        margin-top: 1.904761904761905vw;
        margin-bottom: 1.904761904761905vw;
        border-bottom: 0.380952380952381vw solid;
        font-size: 3.80952380952381vw;
        width: calc(100% - 6.095238095238095vw);
        border-radius: 0.9523809523809524vw;
    }
    
    .user_card {
        width: 76.19047619047619vw;
        border-radius: 0.9523809523809524vw;
    }
    
    .input-group {
        width: 66.66666666666667vw;
    }
    
    .input-group-append {
        margin-top: 3.80952380952381vw;
        margin-bottom: 3.80952380952381vw;
    }
    
    .log_reg_other_links {
        margin-left: 1.904761904761905vw;
    }
    
    .mt-4 {
        padding-bottom: 5.714285714285714vw;
        font-size: 3.047619047619048vw;
    }
    
    .login_btn {
        font-size: 4.761904761904762vw;
        height: 9.523809523809524vw;
        border-radius: 0.9523809523809524vw;
        margin-bottom: 3.80952380952381vw;
    }

    .login_container {
        padding-top: 1.904761904761905vw;
        padding-bottom: 1.904761904761905vw;
    }
    .log_and_reg_oauth_services{
        width: 9.523809523809524vw;
        height: 9.523809523809524vw;
        margin: 0.9523809523809524vw;
    }
}