@font-face {
    font-family: 'NimbusSanL-Bol';
    src: local('NimbusSanL-Bol'),
         url('/font/NimbusSanL-Bol.woff2') format('woff2'), 
         url('/font/NimbusSanL-Bol.woff') format('woff'),
         url('/font/NimbusSanL-Bol.otf') format('otf'),
         url('/font/NimbusSanL-Bol.eot') format('eot');
  }
.upperedblock{
    background-color: #191919;
    width: 800px;
    height: 100px;
    text-align: center;
    border-radius: 20px; 
    
}
.blorcksup {
    background-color: #191919;
    width: 26%;
    height: 100px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 40px;
}
.blorcks {
    background-color: #191919;
    width: 500px;
    height: 320px;
    text-align: left;
    border-radius: 20px;
    position: relative;
    
    top: 36px;
}
.block {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    display: flex;
}

.blockup{
    background-color: #191919;
    width: 100%;
    
    height: 7.5%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;
    
}
.system {
    background-color: #454545;
    color: #c9c9c9;
}
.name{
    font-size: 60px;
    position: relative;
    left: 10px;
    top: 10px;
}
.chek_rez{
    position: fixed;
    top: 20%;
    width: 1000px;
    height: 600px;
    background-color: #161616;
    color: #c9c9c9;
    border-radius: 10px;
    z-index: 100;
}
.selectdisc {
    width: 600px;
    height: 400px;
    background-color: #161616;
    color: #c9c9c9;
    border-radius: 10px;
    z-index: 100;
    position: fixed;
    top: 30%;
}
.zatem{
    width: 100%;
    height: 100%;
    color: #ff0000;
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}
.solve{
    margin: 18px;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 120px;
    height: 70px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #7c7c7c;
    color: black;
    font-size: 30px;
}
.reg_block{
    width: 600px;
    height: 300px;
    background-color: #0a0a0aa1;
    color: #e6e6e6;
    border-radius: 20px;
    position: relative;
    top: 20%;
}
div *::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }
  *::-webkit-scrollbar-track,
  div *::-webkit-scrollbar-track {
    background: rgb(70, 70, 70);
    border-radius: 30px;
  }
  *::-webkit-scrollbar-thumb,
  div *::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
    border: 3px solid rgb(70, 70, 70);;
  }
div{
    font-family: "NimbusSanL-Bol", sans-serif;
}
button{
    background-color:#00000000;
    color: #c9c9c9;
    cursor: pointer;
    border-width: 0px;
}
input{
    border-color: #00000000;
    border-width: 0px;
    border-style: none;
    background-color: #b4b4b4;
    border-image: none;
    color: #353535;
    height: 40px;
    width: 300px;
    padding-left: 10px;
    font-size: 20px;
    margin: 10px;
}
a{
    color: #51a5ff;
    text-decoration: none;
}
.navig_panel{
    width: 200px;
    height: 400px;
    background-color: black;
    position: relative ;
    left: 100px;
    top: 150px;
    text-align:center;
}
.navig_buts{
    width: 100%;
    height: 10%;
    background-color: gray;
    border: 3px solid black;
    box-sizing: border-box;
    font-size:30px;
}

@media only screen and (max-width: 525px)
{

.navig_panel{
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed ;
    left: 0px;
    bottom: 0px;
    top: unset;
    text-align:center;
    z-index: 1;
}

.navig_buts{
    width: 20%;
    height: 100%;
    background-color: gray;
    border: 3px solid black;
    box-sizing: border-box;
    font-size:30px;
    display: inline-block;
}

    #picofsker{
        height: 90%;
    }
  .upperedblock{
      width: 100%;
  }
  .blockk{
    width: auto;
      height: 200px;
      bottom: 0px;
  }
  .blockck{
      display: none;
  }
  .skertable{
    display: block;
  }

}