.form-control {
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    outline: none;
    color: white;
    border: 0px;
    background: #00000000;
    border-bottom: 2px solid;
    width: calc(100% - 10px);
}

.user_card {
    width: 350px;
    background: #191919;
    position: relative;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: auto;
}

.form_container {
    display: flex;
    justify-content: center;
}


#form-title{
    color: #fff;

}
.mt-4{
    padding-bottom: 30px;
}
.login_btn {
    width: 100%;
    background: #2854c7;
    color: white !important;
    font-size: 25px;
    height: 50px;
    border: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding-top: 40px;
    display: flex;
    justify-content: center;

}
.input-group-text {
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}