.settings_session_div{
    width: calc(100% - 20px);
    height: auto;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: gray;
}
.settings_delete_div_button{
    width: 2vw;
    height: 2vw;
    position: relative;
    right: 0px;
    top: 0px;
    background-color: red;
}
.settings_sessiond_div_p{
    /*padding: ;*/
}