.settings_session_div{
    width: calc(100% - 20px);
    height: auto;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #c9c9c9;
}
.settings_delete_div_button {
    width: auto;
    position: relative;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    right: 0px;
    top: 0px;
    color: white;
    background-color: red;
}
.settings_sessiond_div_p{
    padding: unset;
}

.dark_theme{
    .settings_session_div{
        background-color: gray;
    }
    .settings_delete_div_button{
        background-color: red;
    }
}


@media only screen and (max-width: 525px)
{
    .settings_session_div{
        width: calc(100% - 3.80952380952381vw);
        padding: 0.9523809523809524vw;
        margin: 0.9523809523809524vw;
        border-radius: 0.9523809523809524vw;
    }
    .settings_delete_div_button {
        font-size: 3.047619047619048vw;
        padding: 0.9523809523809524vw;
        margin: 0.9523809523809524vw;
        border-radius: 1.904761904761905vw;
    }
}