/* Mobile Nav Animation */
.show_nav_in_mob_nav_panel-enter {
    transform: translateX(-100%);
    body{
        overflow: hidden;
    }
}

.show_nav_in_mob_nav_panel-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}

.show_nav_in_mob_nav_panel-exit {
    transform: translateX(0);
}

.show_nav_in_mob_nav_panel-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
    body{
        overflow: hidden;
    }
}

.show_nav_in_mob_main_info{
    border: 1px solid;
    border-radius: 20px;
    margin: 20px;
}
.show_nav_in_desktop{
    position: fixed; width: 300px; background-color: #f2f2f2; right: 40px; top: 70px; border: 1px solid gray; border-radius: 10px;
}
.show_nav_in_desktop_section{
    min-height: 50px; background-color: #f2f2f2; border-radius: 5px; border: 1px solid gray; margin: 20px;
}
.show_nav_in_desktop_section_main{
    margin: 10px;
}
.show_nav_in_mob_nav_panel{
    background-color: #e2e2e2; width: 83vw; height: 100%; position: fixed; bottom: 0; left: 0; z-index: 1000;
}
.show_nav_in_mob_nav_panel_botton_main{
    height: 50px;
    width: calc(100% - 40px);
    color: rgb(54, 54, 54);
    background-color: #00000000;
    font-size: 30px;
    justify-content: left;
    align-items: center;
    display: flex;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.show_nav_in_mob_nav_panel_botton{
    height: 50px;
    width: calc(100% - 40px);
    color: rgb(54, 54, 54);
    background-color: #00000000;
    font-size: 30px;
    justify-content: left;
    align-items: center;
    display: flex;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.show_nav_in_mob_nav_panel_img{
    margin: 0;
}
.show_nav_in_mob_button_text_color{
    color: rgb(0, 0, 0);
    margin: 20px;
    font-size: 25px;
}
.dark_theme{

    
    .show_nav_in_desktop{
        background-color: #202020; border: 1px solid gray;
    }
    .show_nav_in_desktop_section{
        background-color: #202020; border: 1px solid gray;
    }
    .show_nav_in_mob_nav_panel{
        background-color: #242424;
    }
    .show_nav_in_mob_nav_panel_botton_main{
        color: rgb(54, 54, 54);
        background-color: #ebebeb00;
    }
    .show_nav_in_mob_nav_panel_botton{
        color: rgb(54, 54, 54);
        background-color: #ebebeb00;
    }
    .show_nav_in_mob_button_text_color{
        color: white;
    }
}
@media screen and (max-width: 1100px) {
    .show_nav_in_desktop{
        display: none;
    }
}
@media screen and (max-width: 525px) {
    .show_nav_in_mob_nav_panel_botton_main{
        height: 9.523809523809524vw;
        width: calc(100% - 7.619047619047619vw);
        font-size: 5.714285714285714vw;
        margin: 3.8095238095238098vw;
        border-radius: 1.9047619047619047vw;
    }
    .show_nav_in_mob_nav_panel_botton{
        height: 9.523809523809524vw;
        width: calc(100% - 7.619047619047619vw);
        font-size: 5.714285714285714vw;
        margin: 3.8095238095238098vw;
        border-radius: 1.9047619047619047vw;
    }
    .show_nav_in_mob_button_text_color{
        margin: 3.8095238095238098vw;
        font-size: 4.761904761904762vw;
    }  
    .show_nav_in_mob_main_info{
        border: 1px solid;
        border-radius: 3.8095238095238098vw;
        margin: 3.8095238095238098vw;
    }
}