.crt_offer_allowed{
    color: #00d472;
}
.crt_offer_unallowed{
    color: red;
}
.crt_offer_font_size_of_min_length{
    margin-top: 10px;
    font-size: 20px;
}

.crt_offer_load_photo{
    position: relative; display: flex; top: 70px; left: 0px; width: 300px; height: 50px; background-color: rgb(0, 212, 114); border-radius: 10px; color: black; font-size: 30px; padding: auto; justify-content: center; align-items: center;
}
/*.crt_offer_load_photos_more{
    position: relative; display: flex; top: 70px; left: 0px; width: 100%; height: 50px; background-color: rgb(0, 212, 114); border-radius: 10px; color: black; font-size: 30; padding: auto; justifyContent: center; alignItems: center;
}*/
.crt_offer_work_day_div{
    width: 550px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;
}
.crt_offer_work_day_days{
    width: calc(100%/7 - 20px); height: auto; aspect-ratio: 1/1; background-color: #181818; margin: 10px; color: white; font-size: 20px; border-radius: 5px;
}
.crt_offer_work_day_select{
    width: calc(100%/2 - 20px); height: 50px; background-color: #181818; margin: 10px; border: 0px; color: white; font-size: 20px; border-radius: 5px; outline: none;
}
.crt_offer_work_day_add_button{
    width: calc(100%/2 - 20px); height: 50px; background-color: #181818; margin: 10px; color: white; font-size: 20px; border-radius: 5px;
}
.crt_offer_work_day_div_work_grafic{
    width: 550px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px; background-color: gray; border-radius: 10px;
}
.crt_offer_work_day_work_grafic{
    width: calc(100%/6 - 40px); aspect-ratio: 1/1; background-color: #181818; margin: 10px; color: white; font-size: 20px; border-radius: 5px; padding: 10px; display: inline-block;
}
.settings_page_degree_photo{
    width: 200px;
    height: auto;
    position: relative;
    top: 0;
    display: inline-block;
    margin: 10px;
}
.crt_offer_save_button{
    width: 570px; height: 50px; background-color: #00d472; margin: 20px; font-size: 30px; margin-bottom: 100px; margin-right: auto; margin-left: auto; display: block; border-radius: 10px;
}
.crt_offer_gray_thing{
    width: 800px; height: auto; background-color: #c2c2c2; border: 2px solid #444444; top: 0px; position: absolute; border-radius: 5px;/* box-shadow: 0px 0px 10px rgb(119, 119, 119);*/ margin-top: 30px; margin-bottom: 30px;
}
.input_field_name{
    color: rgb(0, 0, 0); background-color: #f1f1f1; border-radius: 3px; border: 0px; font-size: 20px; height: 20px; width: 550px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; outline: none; padding: 10px;
}

.input_field_description{
    color: rgb(0, 0, 0); background-color: #f1f1f1; border-radius: 3px; border: 0px; font-size: 20px; display: block; resize: none; width: 550px; height: 400px;  margin-left: auto; margin-right: auto; margin-top: 50px; outline: none; padding: 10px;/* margin-bottom: 50px;*/
}
.input_field_description::-webkit-scrollbar{
    width: 1px;
    border-radius: 0px;
}
.input_field_price{
    color: rgb(207, 207, 207); background-color: #181818; border-radius: 3px; border: 0px; font-size: 20px; display: block; width: 550px; height: 20px;  margin-left: auto; margin-right: auto; margin-top: 50px; outline: none; padding: 10px;
}
.input_submit_button{
    background-color: #181818; display: block; width: 200px; height: 40px;  margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 20px;
}
.ctr_offer_find_panel{
    width: 100%;
    height: auto;
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.crt_offer_name_of_fields{
    width: 570px; position: relative; top: 40px; font-size: 20px; margin: 40px auto;
    font-size: 30px;
}
.crt_offer_photo_div{
    width: 570px; margin-left: auto; margin-right: auto; position: relative; /*top: 50px;*/ font-size: 20px; min-height: 500px;
}
.crt_offer_photo{
    width: 300px; height: 300px; position: relative; top: 50px; display: block; object-fit: contain;
    background-color: #2a2a2a;
}
.crt_offer_photos{
    width: 200px; height: 200px; position: relative; top: 50px; display: inline; object-fit: contain;
    margin: 5px;
    background-color: #2a2a2a;
}
.setting_language_selector{
    color: rgb(0, 0, 0); background-color: #f1f1f1; border-radius: 3px; border: 0px; font-size: 20px; height: 40px; width: 570px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; outline: none;
}

.dark_theme{
    .crt_offer_gray_thing{
        background-color: #333333;
    }
    .setting_language_selector{
        color: rgb(207, 207, 207); background-color: #181818;
    }
    .input_field_name{
        color: rgb(207, 207, 207); background-color: #181818;
    }
    .input_field_description{
        color: rgb(207, 207, 207); background-color: #181818;
    }
}

@media only screen and (max-width: 1600px)
{
    .ctr_offer_find_panel{
        width: 80%;
    }
}
@media only screen and (max-width: 1300px)
{
    .ctr_offer_find_panel{
        width: 75%;
    }
}
@media only screen and (max-width: 1150px)
{
    .ctr_offer_find_panel{
        width: 75%;
    }
    .crt_offer_gray_thing{
        width: calc(100% - 100px);
    }
}
@media only screen and (max-width: 1100px)
{
    .ctr_offer_find_panel{
        width: 100%;
    }
    .crt_offer_gray_thing{
        width: 100%;
        margin-top: 0px;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 1100px)
{
    .crt_offer_save_button{
        width: 78.573%;
    }
    .input_field_name{
        width: calc(100% - 2.66666666666666666666666666666vw);
    }

    .input_field_description{
        width: calc(100% - 3.80952380952380952380952380952381vw);
    }
    .crt_offer_name_of_fields{
        width: 78.573%;
    }
    .crt_offer_photo_div{
        width: 78.573%;
    }
    .setting_language_selector{
        width: calc(78.573% + 20px);
    }
}
@media only screen and (max-width: 1100px) {
    .crt_offer_work_day_div{
        width: 78.573%; margin-top: 4.54545454545454545454545454545455vw; margin-bottom: 4.54545454545454545454545454545455vw;
    }
    .crt_offer_work_day_days{
        width: calc(100%/7 - 1.81818181818181818181818181818182vw); font-size: 2.72727272727272727272727272727273vw; margin: 0.90909090909090909090909090909091vw;
    }
    .crt_offer_work_day_select{
        width: calc(100%/2 - 1.81818181818181818181818181818182vw); border: 0px; font-size: 2.72727272727272727272727272727273vw; margin: 0.90909090909090909090909090909091vw; height: 4.54545454545454545454545454545455vw;
    }
    .crt_offer_work_day_add_button{
        width: calc(100%/2 - 1.81818181818181818181818181818182vw); font-size: 2.72727272727272727272727272727273vw; margin: 0.90909090909090909090909090909091vw; height: 4.54545454545454545454545454545455vw;
    }
    .crt_offer_work_day_div_work_grafic{
        width: 78.573%; margin-top: 4.54545454545454545454545454545455vw; margin-bottom: 4.54545454545454545454545454545455vw;
    }
    .crt_offer_work_day_work_grafic{
        width: calc(100%/6 - 3.63636363636363636363636363636364vw); font-size: 2.72727272727272727272727272727273vw; margin: 0.90909090909090909090909090909091vw; padding: 0.90909090909090909090909090909091vw;
    }
    .crt_offer_save_button{
        height: 9.52380952380952380952380952380952vw; 
        margin: 3.80952380952380952380952380952381vw; 
        font-size: 5.71428571428571428571428571428571vw; 
        margin-bottom: 19.047619047619047619047619047619vw; 
        border-radius: 1.9047619047619047619047619047619vw;
        margin-left: auto;
        margin-right: auto;
    }
    .ctr_offer_find_panel {
        top: 70px;
    }
    .crt_offer_gray_thing {
        border: 0vw solid #444444;
        margin-bottom: 5.7142857142857142857142857142857vw;
    }
    .crt_offer_name_of_fields {
        top: 7.61904761904761904761904761904762vw;
        margin: 7.61904761904761904761904761904762vw auto;
        font-size: 5.71428571428571428571428571428571vw;
    }
    .setting_language_selector {
        border-radius: 0.57142857142857142857142857142857vw;
        font-size: 3.80952380952380952380952380952381vw;
        height: 7.61904761904761904761904761904762vw;
        width: 100%;
        margin-top: 3.80952380952380952380952380952381vw;
    }
    .input_field_name {
        border-radius: 0.57142857142857142857142857142857vw;
        font-size: 3.80952380952380952380952380952381vw;
        height: 3.80952380952380952380952380952381vw;
        margin-top: 3.80952380952380952380952380952381vw;
        padding: 1.33333333333333333333333333333333vw;
    }
    .input_field_description {
        border-radius: 0.57142857142857142857142857142857vw;
        font-size: 3.80952380952380952380952380952381vw;
        height: 76.1904761904761904761904761904762vw;
        margin-top: 3.80952380952380952380952380952381vw;
        padding: 1.9047619047619047619047619047619vw;
        /*margin-bottom: 9.52380952380952380952380952380952vw;*/
    }
    .crt_offer_photo_div {
        top: 9.52380952380952380952380952380952vw;
        font-size: 3.80952380952380952380952380952381vw;
        min-height: 96.1904761904761904761904761904762vw;
    }
    .crt_offer_photo {
        top: 9.52380952380952380952380952380952vw;
    }
    .crt_offer_photos {
        top: 9.52380952380952380952380952380952vw;
    }
    .settings_page_degree_photo {
        width: 38.0952380952380952380952380952381vw;
        margin: 1.9047619047619047619047619047619vw;
    }
}
@media only screen and (max-width: 535px){
    .crt_offer_photos{
        width: calc(50% - 1.86915887vw); height: auto; aspect-ratio: 1/1; margin: 0.93457943vw;
    }
}
@media only screen and (max-width: 525px){
    .crt_offer_font_size_of_min_length{
        margin-top: 1.9047619047619047619047619047619vw;
        font-size: 3.80952380952380952380952380952381vw;
    }
    .crt_offer_work_day_select {
        height: 7vw;
    }
    .crt_offer_work_day_add_button {
        height: 7vw;
    }
    .crt_offer_work_day_days{
        border-radius: 0.952380952380952380952380952380952vw;
    }
    .crt_offer_work_day_select{
        border-radius: 0.952380952380952380952380952380952vw;
    }
    .crt_offer_work_day_add_button{
        border-radius: 0.952380952380952380952380952380952vw;
    }
    .crt_offer_work_day_div_work_grafic{
        border-radius: 1.9047619047619047619047619047619vw;
    }
    .crt_offer_work_day_work_grafic{
        border-radius: 0.952380952380952380952380952380952vw;
    }
    .crt_offer_photo{
        width: 100%; height: auto; aspect-ratio: 1/1;
    }
    .ctr_offer_find_panel {
        top: 13.3333333333333333vw;
    }
    .crt_offer_load_photo{
        top: 13.33333333333vw; left: 0px; width: 100%; height: 9.52380952vw; border-radius: 1.9047619047619047619047619047619vw; font-size: 5.714285714285714vw;
    }
}
