.crt_offer_gray_thing{
    width: 800px; height: auto; background-color: #c2c2c2; border: 2px solid #444444; top: 0px; position: absolute; border-radius: 5px;/* box-shadow: 0px 0px 10px rgb(119, 119, 119);*/ margin-top: 30px; margin-bottom: 30px;
}
.input_field_name{
    color: rgb(0, 0, 0); background-color: #f1f1f1; border-radius: 3px; border: 0px; font-size: 20px; height: 20px; width: 550px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; outline: none; padding: 10px;
}

.input_field_description{
    color: rgb(0, 0, 0); background-color: #f1f1f1; border-radius: 3px; border: 0px; font-size: 20px; display: block; resize: none; width: 550px; height: 400px;  margin-left: auto; margin-right: auto; margin-top: 50px; outline: none; padding: 10px; margin-bottom: 50px;
}
.input_field_description::-webkit-scrollbar{
    width: 1px;
    border-radius: 0px;
}
.input_field_price{
    color: rgb(207, 207, 207); background-color: #181818; border-radius: 3px; border: 0px; font-size: 20px; display: block; width: 550px; height: 20px;  margin-left: auto; margin-right: auto; margin-top: 50px; outline: none; padding: 10px;
}
.input_submit_button{
    background-color: #181818; display: block; width: 200px; height: 40px;  margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 20px;
}
.ctr_offer_find_panel{
    width: 100%;
    height: auto;
    right: 0px;
    top: 70px;
    position: absolute;
    background-color: #ebebeb;
}
.crt_offer_name_of_fields{
    width: 570px; position: relative; top: 40px; font-size: 20px; margin: 40px auto;
    font-size: 30px;
}
.crt_offer_photo_div{
    width: 570px; margin-left: auto; margin-right: auto; position: relative; top: 50px; font-size: 20px; height: 500px;
}
.crt_offer_photo{
    width: 300px; height: 300px; position: relative; top: 50px; display: block;
}
.setting_language_selector{
    color: rgb(0, 0, 0); background-color: #f1f1f1; border-radius: 3px; border: 0px; font-size: 20px; height: 40px; width: 570px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; outline: none;
}

.dark_theme{
    .crt_offer_gray_thing{
        background-color: #333333;
    }
    .setting_language_selector{
        color: rgb(207, 207, 207); background-color: #181818;
    }
    .input_field_name{
        color: rgb(207, 207, 207); background-color: #181818;
    }
    .input_field_description{
        color: rgb(207, 207, 207); background-color: #181818;
    }
}

@media only screen and (max-width: 1600px)
{
    .ctr_offer_find_panel{
        width: 80%;
    }
}
@media only screen and (max-width: 1300px)
{
    .ctr_offer_find_panel{
        width: 75%;
    }
}
@media only screen and (max-width: 1150px)
{
    .ctr_offer_find_panel{
        width: 75%;
    }
    .crt_offer_gray_thing{
        width: calc(100% - 100px);
    }
}
@media only screen and (max-width: 1100px)
{
    .ctr_offer_find_panel{
        width: 100%;
    }
    .crt_offer_gray_thing{
        width: 100%;
        margin-top: 0px;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 700px)
{
    .input_field_name{
        width: 78.573%;
    }

    .input_field_description{
        width: 78.573%;
    }
    .crt_offer_name_of_fields{
        width: 78.573%;
    }
    .crt_offer_photo_div{
        width: 78.573%;
    }
    .setting_language_selector{
        width: calc(78.573% + 20px);
    }
}
@media only screen and (max-width: 525px) {
    .ctr_offer_find_panel {
        top: 13.3333333333333333vw;
    }
    .crt_offer_gray_thing {
        border: 0.38095238095238095238095238095238vw solid #444444;
        margin-bottom: 5.7142857142857142857142857142857vw;
    }
    .crt_offer_name_of_fields {
        top: 7.61904761904761904761904761904762vw;
        margin: 7.61904761904761904761904761904762vw auto;
        font-size: 5.71428571428571428571428571428571vw;
    }
    .setting_language_selector {
        border-radius: 0.57142857142857142857142857142857vw;
        font-size: 3.80952380952380952380952380952381vw;
        height: 7.61904761904761904761904761904762vw;
        width: calc(78.573% + 3.80952380952380952380952380952381vw);
        margin-top: 9.52380952380952380952380952380952vw;
    }
    .input_field_name {
        border-radius: 0.57142857142857142857142857142857vw;
        font-size: 3.80952380952380952380952380952381vw;
        height: 3.80952380952380952380952380952381vw;
        margin-top: 9.52380952380952380952380952380952vw;
        padding: 1.33333333333333333333333333333333vw;
    }
    .input_field_description {
        border-radius: 0.57142857142857142857142857142857vw;
        font-size: 3.80952380952380952380952380952381vw;
        height: 76.1904761904761904761904761904762vw;
        margin-top: 9.52380952380952380952380952380952vw;
        padding: 1.9047619047619047619047619047619vw;
        margin-bottom: 9.52380952380952380952380952380952vw;
    }
    .crt_offer_photo_div {
        top: 9.52380952380952380952380952380952vw;
        font-size: 3.80952380952380952380952380952381vw;
        height: 96.1904761904761904761904761904762vw;
    }
    .crt_offer_photo {
        top: 9.52380952380952380952380952380952vw;
    }
}
@media only screen and (max-width: 380px)
{
    .crt_offer_photo{
        width: 100%; height: auto; aspect-ratio: 1/1;
    }
}