.top_panel_under_topbanner{
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    left: 20px;
    position: absolute;
}
.top_panel_balance{
    font-size: 25px; color: white;
}

@media only screen and (max-width: 525px)
{
    .top_panel_under_topbanner {
        left: 3.8095238095238095vw;
    }
    .top_panel_balance{
        right: 24.761904761904763vw;
        top: 4.761904761904762vw;
        font-size: 4.761904761904762vw;
    }
}