.top_panel_under_topbanner{
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    left: 20px;
    position: absolute;
}
.top_panel_balance{
    position: absolute; right: 130px; top: 25px; font-size: 25px;
}

@media only screen and (max-width: 525px)
{
    .top_panel_balance{
        right: 24.76vw;
        top: 4.761vw;
        font-size: 4.761vw;
    }
}